@charset "UTF-8";
/* 레이어팝업 */
.layerpopup__wrap, .session__layerpopup__wrap {
	outline: none; 
	display: none; 
	position: fixed; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 400px;
	min-height: 130px;
	padding: 7px 10px 10px;
	border-radius: 5px; 
	background:white; 
	box-shadow: 0 2px 6px rgb(0 0 0 / 20%); 
	z-index:12;
}

.layerpopup__tit { position: relative; margin: 8px 0; }

.layerpopup__tit:before { content: ''; display: inline-block; width: 3px; height: 12px; margin-right: 5px; background: #888; }

.layerpopup__btn {line-height: 1.42857143; text-shadow: none; display: inline-block; width: 111px; height: 50px; margin-top: 50px; padding: 6px 12px; border: 1px solid #228be6; border-radius: 4px; font-size: 14px; background: #ecf0f1; color: #000; vertical-align: top; box-shadow: inset 0 1px 0 #80B0FB; cursor: pointer; }

.layerpopup__btn:hover { border-color: #1c7ed6; background: #228be6; text-decoration: none; box-shadow: 1px 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1; }

.layerpopup__btn:active { background: #1c7ed6; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); }

.layerpopup__btn--line { border-color: #4dabf7; background-color: #fff; color: #228be6; box-shadow: none; }

.layerpopup__btn--line:hover { border-color: #339af0; background: #e7f5ff; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

.layerpopup__btn--line:active { background: #d0ebff; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1); }

.bg_blackmask { display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:11;  background: #444; opacity: .2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; transition-duration: 0.4s; transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1); }

.btn_layer--blueline{
	border: 1px solid #90bbdf;
    background: #fff;
    color: #1c7ed6;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: -1px;
    box-sizing: border-box;
    vertical-align: baseline;
}
.btn_layer--blueline:hover, .btn_layer--blueline:focus{
  border: 1px solid #4dabf7;
  background: #cfd9e0;
  color: #1c7ed6;
}

input:invalid { background: #ff6600; border-color: #ff0000; }

/*.require { color:#ff0000; font-weight:bold; }*/