@import 'tailwindcss';

/* 숫자폰트 */
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

/* 텍스트폰트 */
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    /* unicode-range: U+0030-0039; */
}

@font-face {
    font-family: 'NationalPension';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NationalPension';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'NationalPension';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}
/* 숫자폰트 */
@font-face {
  font-family: 'YeogiOttaeJalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0030-0039;
}




/* 폰트 지정 */
.corner-div { 
  font-family: "NationalPension", Arial, sans-serif;
  @apply text-zinc-800 font-bold;
}
.goods__name {
  font-family: "NationalPension", Arial, sans-serif;
  @apply text-zinc-800;
}
.goods__delprice {
  font-family: Arial, sans-serif;
  @apply text-zinc-800;
}
.goods__price {
  font-family: 'YeogiOttaeJalnan', Arial, sans-serif;
  @apply text-[#cf0000] font-bold leading-none;
}
.goods__price > span {
  font-family: Arial, sans-serif;
  @apply font-normal;
}
.goods__etc1 {
  font-family: Arial, sans-serif;
  @apply font-medium;
}
.goods__pre {
  font-family:'NationalPension', Arial, sans-serif;
}



/* 텍스트 아웃라인 */
.goods__name {
  --stroke-width: 3px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ;
}
.goods__price {
  --stroke-width: 3px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ;
}
.goods__delprice {
  --stroke-width: .6px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ;
}


/* -----뷰 공통----- */

.corner-div, .preview {
  @apply relative overflow-hidden break-all;
}

.goods__list {
  @apply flex flex-wrap p-0;
}
.goods__list li {
  @apply relative w-full h-auto p-0 m-0;
}

.goods__card {
  @apply relative w-full h-full;
}

/* 품절 표시 */
.goods__card .soldout-div {
  @apply flex items-center justify-center absolute inset-0 w-full h-full rounded-xl bg-black/40 text-2xl font-normal text-white z-30;
}

/* 코너정보 */
.corner-notice,.sample-corner-notice {
  @apply flex justify-center items-center min-h-11 mx-2 mt-2 mb-1 rounded-xl bg-amber-400;
}

.corner-notice > p,.sample-corner-notice > p {
  @apply max-w-full p-2 text-xl text-center;
}









/* -----가로형 1단----- */
.goods__list--type1 {
  @apply gap-x-2 gap-y-3.5 my-3.5 mx-2;
}
.goods__list--type1 li {
  @apply w-full min-w-full;
}
.goods__list--type1 li:last-child {
  /* @apply w-full pb-1; */
}
.goods__list--type1 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type1 li .goods__card {
  @apply flex flex-col m-0 pb-2 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type1 li .icon__cartbox {
  @apply absolute right-0 bottom-13 flex items-center justify-center size-11 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type1 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type1 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type1 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type1 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type1 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type1 li .goods__imgbox {
  @apply absolute inset-6 overflow-hidden flex flex-col justify-center w-auto;
}
.goods__list--type1 li .goods__imgbox img {
  @apply object-contain w-auto h-60 max-h-full mt-auto mx-auto;
}

/* 뱃지 영역 및 크기 */
.goods__list--type1 li .goods__imgbox .goods__badge {
  @apply absolute left-0 bottom-42 flex items-center justify-center size-17 z-10;
}
.goods__list--type1 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type1 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col min-h-82 px-0;
}
.goods__list--type1 li .goods__info .goods__name {
  @apply order-2 flex-1 relative mb-44 pt-3 px-2 text-3xl text-center  leading-tight line-clamp-2;;
}
.goods__list--type1 li .goods__info .goods__price {
  @apply order-4 px-2 text-6xl text-center tracking-tight;
}
.goods__list--type1 li .goods__info .goods__price > span {
  @apply mt-auto text-2xl;
}
.goods__list--type1 li .goods__info .goods__etc1 {
  @apply order-1 -mt-2 mx-10 px-4 py-0.5 rounded-xl text-base text-center text-white bg-blue-600 leading-tight;
}
.goods__list--type1 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type1 li .goods__info .goods__delprice {
  @apply order-3 min-h-8 px-2 text-2xl text-center line-through;
}



/* -----가로형 2단----- */
.goods__list--type2 {
  @apply gap-x-2 gap-y-3 mx-2 my-3.5;
}
.goods__list--type2 li {
  @apply w-[calc((100%-0.75rem)/2)] grow;
}
.goods__list--type2 li:last-child {
}
.goods__list--type2 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type2 li .goods__card {
  @apply overflow-visible flex flex-col m-0 pb-2 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type2 li .icon__cartbox {
  @apply absolute right-0 bottom-9 flex items-center justify-center size-9 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type2 li .goods__imgbox {
  @apply absolute inset-2.5 overflow-hidden flex flex-col justify-center w-auto;
}
.goods__list--type2 li .goods__imgbox img {
  @apply object-contain w-auto h-38 max-h-full mt-auto mx-auto;
}

/* 뱃지 영역 및 크기 */
.goods__list--type2 li .goods__imgbox .goods__badge {
  @apply absolute left-0 bottom-26 flex items-center justify-center size-12 z-10;
}
.goods__list--type2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type2 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col min-h-44 px-0;
}
.goods__list--type2 li .goods__info .goods__name {
  @apply order-2 flex-1 relative mb-25 pt-3 px-2 text-lg text-center leading-tight line-clamp-2; ;
}
.goods__list--type2 li .goods__info .goods__price {
  @apply order-4 px-1 text-3xl text-center tracking-tight;
}
.goods__list--type2 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-lg;
}
.goods__list--type2 li .goods__info .goods__etc1 {
  @apply order-1 -mt-2 mx-4 px-4 py-0.5 rounded-xl text-sm text-center text-white bg-blue-600 leading-tight;
}
.goods__list--type2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type2 li .goods__info .goods__delprice {
  @apply order-3 min-h-5 px-2 text-lg text-center line-through text-zinc-800;
}














/* -----가로형 3단----- */
.goods__list--type3 {
  @apply gap-x-2 gap-y-3 my-3.5 mx-2;
}
.goods__list--type3 li {
  @apply w-[calc((100%-1.5rem)/3)] grow;
}
.goods__list--type3 li:last-child {
}
.goods__list--type3 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type3 li .goods__card {
  @apply overflow-visible flex flex-col m-0 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type3 li .icon__cartbox {
  @apply absolute right-0 bottom-6 flex items-center justify-center size-7 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type3 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type3 li .goods__imgbox {
  @apply absolute inset-1 overflow-hidden flex flex-col justify-center w-auto;
}
.goods__list--type3 li .goods__imgbox img {
  @apply object-contain w-auto h-26 max-h-full mt-auto mx-auto;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type3 li .goods__imgbox .goods__badge {
  @apply hidden absolute left-0 bottom-13 items-center justify-center size-12 z-10;
}
.goods__list--type3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full mt-auto h-auto;
}

/* 상품정보 */
.goods__list--type3 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col min-h-34 px-1 text-[12px];
}
.goods__list--type3 li .goods__info .goods__name {
  @apply order-2 flex-1 relative mb-14 pt-2 px-1 text-sm text-center leading-tight line-clamp-3;
}
.goods__list--type3 li .goods__info .goods__price {
  @apply order-4 mb-1 text-[290%] text-center tracking-tight;
}
.goods__list--type3 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-sm;
}
.goods__list--type3 li .goods__info .goods__etc1 {
  @apply order-1 -mt-2 mx-2 px-1 py-0.5 rounded-xl text-sm text-center text-white bg-blue-600 leading-tight;
}
.goods__list--type3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type3 li .goods__info .goods__delprice {
  @apply order-3 min-h-5 text-base text-center line-through text-zinc-800;
}














/* -----가로형 4단----- */

.goods__list--type4 {
  @apply gap-x-1 gap-y-2.5 my-2.5 mx-2;
}
.goods__list--type4 li {
  @apply w-[calc((100%-1.5rem)/4)] grow;
}
.goods__list--type4 li:nth-child(4n) {
  /* @apply border-r-0; */
}
.goods__list--type4 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--type4 li:nth-last-child(odd) {
  /* @apply flex-1 border-b border-zinc-300; */
}
.goods__list--type4 li .goods__card {
  @apply overflow-visible flex flex-col m-0 pb-1 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type4 li .icon__cartbox {
  @apply absolute right-0 bottom-9 flex items-center justify-center size-6 border rounded-full border-zinc-300 bg-white z-10 shadow-xs;
}
.goods__list--type4 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type4 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type4 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type4 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type4 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type4 li .goods__imgbox {
  @apply absolute inset-0.5 overflow-hidden flex flex-col justify-center w-auto;
}
.goods__list--type4 li .goods__imgbox img {
  @apply object-contain w-auto h-22 max-h-full mt-auto mx-auto;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type4 li .goods__imgbox .goods__badge {
  @apply hidden;
}
.goods__list--type4 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type4 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col min-h-32 px-0 text-[10px];
}
.goods__list--type4 li .goods__info .goods__name {
  @apply order-2 relative mb-5 pt-2 px-0.5 text-sm text-center leading-tight line-clamp-3;
}
.goods__list--type4 li .goods__info .goods__price {
  @apply order-4 px-0.5 text-[290%] text-center;
}
.goods__list--type4 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-xs;
}
.goods__list--type4 li .goods__info .goods__etc1 {
  @apply order-1 -mt-1 mx-1 px-1 py-0.5 rounded-xl text-[11px] text-center text-white bg-blue-600 leading-tight;
}
.goods__list--type4 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type4 li .goods__info .goods__delprice {
  @apply order-3 min-h-4 mt-auto px-0.5 text-sm text-left line-through;
}











/* -----세로형 스타일----- */

.goods__list--style2 {
  @apply gap-1 m-2;
}
.goods__list--style2 li {
  @apply w-full min-w-full;
}
.goods__list--style2 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style2 li .goods__card {
  @apply overflow-hidden flex flex-row m-0 p-1 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--style2 li .icon__cartbox {
  @apply absolute right-2 bottom-2 flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--style2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--style2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--style2 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center size-36 rounded-xl aspect-square bg-zinc-50;
  
}
.goods__list--style2 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style2 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-11 z-10;
}
.goods__list--style2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style2 li .goods__info {
  @apply relative flex-1 flex flex-col my-1 mx-2 break-all;
}
.goods__list--style2 li .goods__info .goods__name {
  @apply order-2 flex-1 relative w-full px-0.5 mb-auto text-xl text-left leading-tight  text-shadow-none;
}
.goods__list--style2 li .goods__info .goods__price {
  @apply order-4 px-0.5 text-4xl text-left tracking-tight text-shadow-none;
}
.goods__list--style2 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-base;
}
.goods__list--style2 li .goods__info .goods__etc1 {
  @apply order-1 px-0.5 text-base text-left text-blue-500;
}
.goods__list--style2 li .goods__info .goods__delprice {
  @apply order-3 flex items-end px-0.5 text-base text-left line-through text-shadow-none;
}





/* -----텍스트형----- */

.goods__list--style3 {
  @apply gap-1 m-2;
}
.goods__list--style3 li {
  @apply w-full;
}
.goods__list--style3 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style3 li .goods__card {
  @apply overflow-visible relative flex flex-col p-2 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--style3 li .icon__cartbox {
  @apply absolute left-2 bottom-2 flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style3 li .icon__cartbox.active {
  @apply border-blue-400;
}
.goods__list--style3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}
.goods__list--style3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}



/* 이미지정보 */
.goods__list--style3 li .goods__imgbox {
  @apply hidden;
}
.goods__list--style3 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style3 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-[66.6666666667px] z-10;
  @apply w-12 h-12;
}
.goods__list--style3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style3 li .goods__info {
  @apply relative flex flex-wrap px-0 text-right break-all;
}
.goods__list--style3 li .goods__info .goods__name {
  @apply order-2 relative flex w-full px-0.5 mb-2 text-lg text-left leading-tight  text-shadow-none;
}
.goods__list--style3 li .goods__info .goods__price {
  @apply order-4 px-0.5 text-4xl text-right tracking-tight text-shadow-none;
}
.goods__list--style3 li .goods__info .goods__price > span {
  @apply mt-auto ml-1 text-base;
}
.goods__list--style3 li .goods__info .goods__etc1 {
  @apply order-1 mx-0.5 flex w-full text-base text-left text-blue-500;
}
.goods__list--style3 li .goods__info .goods__delprice {
  @apply order-3 mx-0.5 ml-auto text-base text-right line-through text-shadow-none;
}




/* -----장문 편집----- */


.goods__pre {
  @apply my-1 p-4 mx-2 text-sm text-left whitespace-pre-wrap break-all overflow-auto bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

.goods__pre h1 {
  @apply text-4xl leading-tight font-bold;
}

.goods__pre h2 {
  @apply text-3xl leading-tight font-bold;
}

.goods__pre h3 {
  @apply text-2xl leading-tight font-bold;
}

.goods__pre h4 {
  @apply text-xl leading-tight font-bold;
}

.goods__pre h5 {
  @apply text-lg leading-tight font-bold;
}

.goods__pre h6 {
  @apply text-base leading-tight font-bold;
}

.goods__pre p {
  @apply text-base;
}



/* -----전단지형----- */
.goods__imgbox--only {
  @apply flex flex-col items-center justify-center p-0;
}
.goods__imgbox--only img {
  @apply w-full h-auto max-h-full;
}





