@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Custom';
  src: url('./font/PretendardGOVVariable.woff2') format('woff2');
  font-weight: 100 400 900;
  font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyPoster';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimPosterB.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

/* 상품명 */
@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300 500 700;
    font-display: swap;
}

/* 숫자폰트 */
@font-face {
  font-family: 'Rix';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}




/* 폰트 지정 */
.corner-div { 
  font-family: "Aggravo", Arial, sans-serif; 
}
.goods__name {
  font-family: "Aggravo", Arial, sans-serif;
}
.goods__delprice {
  font-family:'Noto Sans KR', Arial, sans-serif;
}
.goods__price {
  font-family: 'Rix', Arial, sans-serif;
}
.goods__price > span {
  font-family: 'Aggravo', Arial, sans-serif;
}
.goods__etc1 {
  font-family: 'Noto Sans KR', Arial, sans-serif;
}
.goods__pre {
  font-family:'Aggravo', Arial, sans-serif;
}


/* 텍스트 아웃라인 */
/* .goods__name {
  --stroke-width: 3px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ;
}

.goods__price {
  --stroke-width: 3px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ;
}
.goods__delprice {
  --stroke-width: .6px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ;
} */


/* -----뷰 공통----- */

.corner-div {
  @apply overflow-hidden break-all;
}

.goods__list {
  @apply flex flex-wrap p-0;
}
.goods__list li {
  @apply relative w-full h-auto p-0 m-0;
}

.goods__card {
  @apply relative w-full h-full;
}

/* 품절 표시 */
.goods__card .soldout-div {
  @apply flex items-center justify-center absolute inset-0 w-full h-full bg-black/40 text-2xl font-normal text-white z-30;
}

/* 코너정보 */
.corner-notice {
  @apply flex justify-center items-center min-h-11 bg-zinc-800;
}

.corner-notice > p {
  @apply p-2 text-xl text-center text-[#fbff1a];
}


/* -----팝업창----- */
/* base z-index는 1000 부터 시작 */
.product-wrap {
  @apply flex justify-center items-center fixed inset-0 p-3 z-[1001];
}
.product-wrap .product-bg {
  @apply absolute inset-0 bg-black/40;
}
.product-panel {
  @apply overflow-hidden flex flex-col relative w-full p-4 bg-white rounded-2xl z-[1002];
}
.product-panel .product-tit {
  @apply mb-4 text-xl text-center font-bold;
}
.product-img {
  @apply overflow-hidden flex justify-center items-center h-[220px] my-0 mx-[-16px];
}
.product-img img {
  @apply object-contain w-auto h-[120%];
}

/* 상품 더하기 빼기 버튼 */
.product-quantity {
  @apply relative flex items-center w-[130px] h-[40px] my-2 mx-auto bg-white border border-zinc-400 rounded-full;
}
.product-quantity.disabled {
  @apply border-none;
}
.product-quantity.disabled:after {
  content:"";
  @apply absolute inset-0 bg-black/5 rounded-full z-10 cursor-not-allowed;
}
.product-quantity-btn {
  @apply flex justify-center items-center w-10 h-full cursor-pointer;
}
.product-quantity-btn.minus {
  @apply mr-auto;
}
.product-quantity-btn.plus {
  @apply ml-auto;
}
.product-quantity-value {
  @apply w-12 h-full mx-auto text-center text-lg font-bold border-none;
}
.product-quantity-value::-webkit-outer-spin-button,
.product-quantity-value::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}
.product-quantity.disabled .product-quantity-btn,
.product-quantity.disabled .product-quantity-value {
  opacity: 0.3;
  /* 투명도를 낮춰서 흐릿하게 만듦 */
  filter: grayscale(100%);
  /* 흑백 처리 (필요시) */
  @apply opacity-30 filter grayscale;
}

.product-info {
  @apply flex flex-col;
}
.product-info > p {
  @apply text-sm my-2 mx-auto
}
.product-info .product-etc1 {
  @apply mt-2.5 mx-auto mb-0 text-lg text-blue-500;
}
.product-info .product-etc1:empty,.product-info .product-delprice:empty {
  @apply hidden;
}
.product-info .product-delprice {
  @apply mt-2.5 mx-auto mb-0 text-lg text-zinc-600 line-through;
}
.product-info .product-etc1:empty+.product-info .product-delprice:empty+.product-info .product-price {
  @apply mt-2.5;
}
.product-info .product-price {
  @apply mt-2.5 mx-auto text-4xl font-bold text-rose-600;
}
.product-info .product-price > span {
  @apply mt-auto ml-0.5 text-base;
}
.product-info .product-name {
  @apply mt-2.5 mx-auto mb-0 text-lg font-bold;
}
.product-info .product-btn {
  @apply flex items-center justify-center w-[200px] h-[46px] my-4 mx-auto bg-rose-500 rounded text-lg font-bold text-white;
}
.product-info .product-btn.disabled {
  @apply bg-zinc-200 text-zinc-600 cursor-not-allowed;
}
.product-close {
  @apply absolute top-3 right-5 size-6 fill-zinc-500 cursor-pointer;
}

/* -----팝업창2----- */

.layer__wrap {
  @apply hidden;
}
.layer__wrap .layer__bg {
  @apply absolute inset-0 bg-black/40 z-[1000];
}
.layer__wrap .layer__box {
  @apply absolute top-1/10 flex flex-col w-full h-auto p-3 z-[1001];
}


.goods__card.popup {
  @apply overflow-hidden flex flex-col w-full h-auto bg-white rounded-2xl;
}
.goods__card.popup .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center w-full h-[300px] p-2;
}
.goods__card.popup .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-75;
}
.goods__card.popup .goods__info {
  @apply relative flex flex-col mt-auto mb-2 px-0;
}
.goods__card.popup .goods__info .layer__goods__name{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @apply relative overflow-hidden my-1 px-2 mx-auto text-xl font-bold leading-tight shadow-none;
}
.goods__card.popup .goods__info .goods__price {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @apply relative overflow-hidden my-1 px-2 mx-auto text-3xl font-bold text-rose-600 shadow-none;
}
.goods__card.popup .goods__info .goods__price > span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @apply mt-auto ml-0.5 text-base font-normal;
}
.goods__card.popup .goods__info .goods__etc1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @apply relative overflow-hidden my-1 px-2 mx-auto text-lg font-bold text-blue-500 shadow-none;
}
.goods__card.popup .goods__info .goods__delprice{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @apply relative overflow-hidden my-1 px-2 mx-auto text-base font-normal text-zinc-600 line-through shadow-none;
}
.goods__card.popup .goods__info .goods__etc1:empty,.goods__card.popup .goods__info .goods__delprice:empty {
  @apply hidden;
}
.layer__close {
  @apply absolute top-3 right-5 size-6 fill-zinc-500 cursor-pointer;
}




/* 테스트용 */
.goods__ribbon {
  @apply absolute right-0 top-3 flex items-center justify-center px-3 py-1.5 text-sm font-bold text-white leading-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-l-full;
}




/* -----가로형 1단----- */
.goods__list--type1 {
  @apply gap-2 m-2;
}
.goods__list--type1 li {
  @apply w-full min-w-full;
}
.goods__list--type1 li:last-child {
  /* @apply w-full pb-1; */
}
.goods__list--type1 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type1 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 border border-[#c7d2fe] bg-white rounded-xl;
}

/* 카트 아이콘 */
.goods__list--type1 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-9 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type1 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type1 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type1 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type1 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type1 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type1 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-72 p-2 bg-slate-50;
}
.goods__list--type1 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type1 li .goods__imgbox .goods__badge {
  @apply absolute left-1 top-1 flex items-center justify-center size-17 z-10;
}
.goods__list--type1 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type1 li .goods__info {
  @apply flex-1 relative flex flex-row flex-wrap px-2 py-2 gap-1.5 bg-white;
}
.goods__list--type1 li .goods__info .goods__name {
  @apply order-4 flex-1 relative w-full mt-auto text-lg text-left leading-tight text-zinc-900 font-bold line-clamp-2;
}
.goods__list--type1 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-2 text-3xl text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type1 li .goods__info .goods__price > span {
  @apply mt-auto ml-1 text-sm;
}
.goods__list--type1 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mb-auto p-1 rounded text-sm text-left text-indigo-800 font-bold bg-indigo-50 leading-none;
}
.goods__list--type1 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type1 li .goods__info .goods__delprice {
  @apply order-2 flex items-center justify-center mb-auto p-1 rounded text-sm text-left leading-none line-through;
}
.goods__list--type1 li .goods__info .goods__delprice:empty {
  @apply hidden;
}






/* -----가로형 2단----- */
.goods__list--type2 {
  @apply gap-1 m-2;
}
.goods__list--type2 li {
  @apply w-[calc((100%-0.5rem)/2)] grow;
}
.goods__list--type2 li:last-child {
  /* @apply border-r-0; */
}
.goods__list--type2 li:nth-child(2n) {
  /* @apply border-r-0; */
}
.goods__list--type2 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 border border-[#c7d2fe] bg-white rounded-xl;
}

/* 카트 아이콘 */
.goods__list--type2 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-9 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type2 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-43 p-1 bg-slate-50;
}
.goods__list--type2 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type2 li .goods__imgbox .goods__badge {
  @apply absolute left-1 top-1 flex items-center justify-center size-12 z-10;
}
.goods__list--type2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type2 li .goods__info {
  @apply flex-1 relative flex flex-row flex-wrap px-2 pt-2 pb-1 gap-1 bg-white;
}
.goods__list--type2 li .goods__info .goods__name {
  @apply order-4 flex-1 relative w-full mt-auto mb-1 text-base text-left leading-tight text-zinc-900 font-bold line-clamp-2;
}
.goods__list--type2 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-1 text-2xl text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type2 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-sm;
}
.goods__list--type2 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mb-auto p-1 rounded text-sm text-left text-indigo-800 font-bold bg-indigo-50 leading-none;
}
.goods__list--type2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type2 li .goods__info .goods__delprice {
  @apply order-2 flex items-center justify-center mb-auto p-1 text-sm text-left leading-none line-through;
}
.goods__list--type2 li .goods__info .goods__delprice:empty {
  @apply hidden;
}













/* -----가로형 3단----- */
.goods__list--type3 {
  @apply gap-1 m-2;
}
.goods__list--type3 li {
  @apply w-[calc((100%-0.5rem)/3)] grow;
}
.goods__list--type3 li:last-child {
  /* @apply border-r-0; */
}
.goods__list--type3 li:nth-child(3n) {
  /* @apply border-r-0; */
}
.goods__list--type3 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 border border-[#c7d2fe] bg-white rounded-xl;
}

/* 카트 아이콘 */
.goods__list--type3 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-8 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type3 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type3 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-28 p-1 bg-slate-50;
}
.goods__list--type3 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type3 li .goods__imgbox .goods__badge {
  @apply hidden absolute left-0 bottom-13 items-center justify-center size-12 z-10;
}
.goods__list--type3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full mt-auto h-auto;
}

/* 상품정보 */
.goods__list--type3 li .goods__info {
  @apply flex-1 relative flex flex-row flex-wrap px-1 pt-2 pb-1 gap-1 bg-white;
}
.goods__list--type3 li .goods__info .goods__name {
  @apply order-4 flex-1 relative w-full mt-auto mb-0 text-sm text-left leading-tight text-zinc-900 font-bold line-clamp-2;
}
.goods__list--type3 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-1 text-xl text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type3 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-xs;
}
.goods__list--type3 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mb-auto p-1 rounded text-xs text-left text-indigo-800 font-bold bg-indigo-50 leading-none;
}
.goods__list--type3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type3 li .goods__info .goods__delprice {
  @apply order-2 flex items-center justify-center mb-auto p-1 text-xs text-center line-through leading-none;
}
.goods__list--type3 li .goods__info .goods__delprice:empty {
  @apply hidden;
}














/* -----가로형 4단----- */

.goods__list--type4 {
  @apply gap-1 m-2;
}
.goods__list--type4 li {
  @apply w-[calc((100%-0.75rem)/4)] grow;
}
.goods__list--type4 li:last-child {
  /* @apply border-r-0; */
}
.goods__list--type4 li:nth-child(4n) {
  /* @apply border-r-0; */
}
.goods__list--type4 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 border border-[#c7d2fe] bg-white rounded-xl;
}

/* 카트 아이콘 */
.goods__list--type4 li .icon__cartbox {
  @apply absolute right-0 bottom-0 flex items-center justify-center size-7 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type4 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type4 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type4 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type4 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type4 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type4 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-22 p-1 bg-slate-50;
}
.goods__list--type4 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full mt-auto;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type3 li .goods__imgbox .goods__badge {
  @apply hidden absolute left-0 bottom-13 items-center justify-center size-12 z-10;
}
.goods__list--type3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full mt-auto h-auto;
}

/* 상품정보 */
.goods__list--type4 li .goods__info {
  @apply order-1 flex-1 relative flex flex-row flex-wrap px-1 pt-2 pb-1 gap-0.5 bg-white;
}
.goods__list--type4 li .goods__info .goods__name {
  @apply order-4 flex-1 relative w-full mt-auto mb-0 text-sm text-left leading-tight text-zinc-900 font-bold line-clamp-2;
}
.goods__list--type4 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-0.5 text-base text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type4 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-[11px];
}
.goods__list--type4 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mb-auto p-1 rounded text-[11px] text-left text-indigo-800 font-bold bg-indigo-50 leading-none;
}
.goods__list--type4 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type4 li .goods__info .goods__delprice {
  @apply order-2 flex items-center justify-center mb-auto p-1 text-[11px] text-center line-through leading-none;
}
.goods__list--type4 li .goods__info .goods__delprice:empty {
  @apply hidden;
}











/* -----세로형 스타일----- */

.goods__list--style2 {
  @apply gap-1 m-2;
}
.goods__list--style2 li {
  @apply w-full min-w-full border-b border-zinc-800;
}
.goods__list--style2 li:last-child {
}
.goods__list--style2 li .goods__card {
  @apply overflow-hidden flex flex-row m-0 border border-[#c7d2fe] bg-white rounded-xl;
}

/* 카트 아이콘 */
.goods__list--style2 li .icon__cartbox {
  @apply absolute right-[5%] bottom-[5%] flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--style2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--style2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--style2 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col items-center justify-center size-36 min-w-36 min-h-36 p-1 bg-slate-50;
}
.goods__list--style2 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style2 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-11 z-10;
}
.goods__list--style2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style2 li .goods__info {
  @apply flex-1 relative flex flex-row flex-wrap px-2 my-2 gap-1 bg-white;
}
.goods__list--style2 li .goods__info .goods__name {
  @apply order-4 flex-1 relative w-full mt-auto text-lg text-left leading-tight text-zinc-900 font-bold line-clamp-2;
}
.goods__list--style2 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-1 text-2xl text-white border text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--style2 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-base;
}
.goods__list--style2 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mb-auto px-1 py-1 rounded text-sm text-left text-indigo-800 font-bold bg-indigo-50 leading-none;
}
.goods__list--style2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--style2 li .goods__info .goods__delprice {
  @apply order-2 flex items-center justify-center mb-auto px-1 py-1 text-sm line-through leading-none;
}
.goods__list--style2 li .goods__info .goods__delprice:empty {
  @apply hidden;
}




/* -----텍스트형----- */

.goods__list--style3 {
  @apply gap-1 m-2;
}
.goods__list--style3 li {
}
.goods__list--style3 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style3 li .goods__card {
  @apply overflow-hidden flex flex-row m-0 px-2 py-1 border border-[#c7d2fe] bg-white rounded-xl;
}

/* 카트 아이콘 */
.goods__list--style3 li .icon__cartbox {
  @apply absolute right-2 top-2 flex items-center justify-center size-8 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style3 li .icon__cartbox.active {
  @apply border-blue-400;
}
.goods__list--style3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}
.goods__list--style3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}



/* 이미지정보 */
.goods__list--style3 li .goods__imgbox {
  @apply hidden;
}
.goods__list--style3 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style3 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-[66.6666666667px] z-10;
  @apply w-12 h-12;
}
.goods__list--style3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style3 li .goods__info {
  @apply relative flex flex-row flex-wrap px-1 my-2 gap-1 bg-white;
}
.goods__list--style3 li .goods__info .goods__name {
  @apply order-1 relative w-full mt-auto pr-8 text-lg text-left leading-tight text-zinc-900 font-bold line-clamp-2;
  /* @apply order-1 relative flex w-full px-0.5 mb-2 text-lg text-left leading-tight font-normal text-zinc-900 text-shadow-none; */
}
.goods__list--style3 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-1 text-2xl text-white border text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
  /* @apply order-3 px-2 pt-1 pb-0.5 rounded text-2xl text-zinc-900 bg-amber-400 text-left text-wrap tracking-tight text-shadow-none; */
}
.goods__list--style3 li .goods__info .goods__price > span {
  @apply mt-auto ml-1 text-base;
}
.goods__list--style3 li .goods__info .goods__etc1 {
  @apply order-2 flex items-center justify-center mb-auto px-1 py-1 rounded text-sm text-left text-indigo-800 font-bold bg-indigo-50 leading-none;
}
.goods__list--style3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--style3 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mb-auto px-1 py-1 text-sm line-through leading-none;
}
.goods__list--style3 li .goods__info .goods__delprice:empty {
  @apply hidden;
}




/* -----장문 편집----- */


.goods__pre {
  @apply my-1 p-4 mx-0.5 text-sm text-left whitespace-pre-wrap break-all overflow-auto bg-white rounded-xl;
}

.goods__pre h1 {
  @apply text-4xl leading-loose font-bold;
}

.goods__pre h2 {
  @apply text-3xl leading-loose font-bold;
}

.goods__pre h3 {
  @apply text-2xl leading-loose font-bold;
}

.goods__pre h4 {
  @apply text-xl leading-normal font-bold;
}

.goods__pre h5 {
  @apply text-lg leading-normal font-bold;
}

.goods__pre h6 {
  @apply text-base leading-normal font-bold;
}




/* -----전단지형----- */
.goods__imgbox--only {
  @apply flex flex-col items-center justify-center p-0;
}
.goods__imgbox--only img {
  @apply w-full h-auto max-h-full;
}





