@import 'tailwindcss';

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
/* 숫자만 사용 */

@font-face {
    font-family: 'YeogiOttaeJalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    unicode-range: U+0030-0039;
}
@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Aggravo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    unicode-range: U+0030-0039;
}

/* 폰트 지정 */
.corner-div,.preview { 
  font-family: "Suit", Arial, sans-serif;
  @apply text-zinc-800;
}
.goods__name {
  font-family: "Suit", Arial, sans-serif;
  @apply font-semibold;
}
.goods__delprice {
  font-family: Arial, sans-serif;
}
.goods__price {
  font-family: 'YeogiOttaeJalnanGothic', Arial, sans-serif;
  @apply text-[#cf0000] leading-none tracking-tight;
}
.goods__price > span {
  font-family: Arial, sans-serif;
  @apply font-normal;
}
.goods__etc1 {
  font-family: Arial, sans-serif;
  @apply text-blue-600 leading-tight font-medium;
}
.goods__pre {
  font-family:'Suit', Arial, sans-serif;
}


/* -----뷰 공통----- */


.corner-div, .preview {
  @apply relative overflow-hidden break-all;
}

.goods__list {
  @apply flex flex-wrap p-0;
}

.goods__list li {
  @apply relative w-full h-auto p-0 m-0;
}

.goods__card {
  @apply relative w-full h-full;
}

/* 품절 표시 */
.goods__card .soldout-div {
  @apply flex items-center justify-center absolute inset-0 w-full h-full bg-black/40 text-2xl font-normal text-white z-30;
}

/* 코너정보 */
.corner-notice,.sample-corner-notice {
  @apply flex justify-center items-center min-h-11 m-1 rounded-xl bg-indigo-600;
}

.corner-notice > p,
.sample-corner-notice > p {
  @apply max-w-full p-2 text-2xl font-bold text-center text-indigo-50;
}







/* -----가로형 1단----- */
.goods__list--type1 {
  @apply gap-1 m-1;
}
.goods__list--type1 li {
  @apply w-full min-w-full;
}
.goods__list--type1 li:last-child {
  /* @apply w-full pb-1; */
}
.goods__list--type1 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type1 li .goods__card {
  @apply overflow-hidden m-0 pb-2 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type1 li .icon__cartbox {
  @apply absolute right-2 bottom-2 flex items-center justify-center size-11 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type1 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type1 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type1 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type1 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type1 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type1 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center w-auto h-75 m-1 rounded-xl bg-white;
}
.goods__list--type1 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type1 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-17 z-10;
}
.goods__list--type1 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type1 li .goods__info {
  @apply flex flex-col mb-2 px-0;
}
.goods__list--type1 li .goods__info .goods__name {
  @apply order-2 relative w-full my-2 px-2 mb-auto text-2xl text-center leading-tight line-clamp-2;
}
.goods__list--type1 li .goods__info .goods__price {
  @apply order-4 px-2 text-6xl text-center;
}
.goods__list--type1 li .goods__info .goods__price > span {
  @apply mt-auto text-2xl;
}
.goods__list--type1 li .goods__info .goods__etc1 {
  @apply order-1 flex mx-auto px-2 text-base text-center;
}
.goods__list--type1 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type1 li .goods__info .goods__delprice {
  @apply order-3 px-2 text-xl text-center line-through ;
}
.goods__list--type1 li .goods__info .goods__delprice:empty {
  @apply hidden;
}


/* -----가로형 2단----- */

.goods__list--type2 {
  @apply gap-1 m-1;
}
.goods__list--type2 li {
  @apply w-[calc((100%-0.25rem)/2)] grow;
}
.goods__list--type2 li:nth-child(2n) {
}
.goods__list--type2 li:last-child {
}
.goods__list--type2 li .goods__card {
  /* clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px)); */
  @apply overflow-hidden flex flex-col h-full rounded-xl bg-white shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type2 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-11 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type2 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center w-auto h-36 m-1 rounded-xl bg-white;
}
.goods__list--type2 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type2 li .goods__imgbox .goods__badge {
  @apply absolute top-1 left-1 flex items-center justify-center size-[66.6666666667px] z-10;
  @apply w-12 h-12;
}
.goods__list--type2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type2 li .goods__info {
  @apply relative flex-1 flex flex-col mb-2 px-0;
}
.goods__list--type2 li .goods__info .goods__name {
  @apply order-2 relative w-full px-2 mb-auto text-xl text-center leading-tight line-clamp-2;
}
.goods__list--type2 li .goods__info .goods__price {
  @apply order-4 px-2 text-4xl text-center;
}
.goods__list--type2 li .goods__info .goods__price > span {
  @apply mt-auto text-lg ;
}
.goods__list--type2 li .goods__info .goods__etc1 {
  @apply order-1 px-2 text-sm text-center;
}
.goods__list--type2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type2 li .goods__info .goods__delprice {
  @apply order-3 px-2 text-base text-center line-through ;
}
.goods__list--type2 li .goods__info .goods__delprice:empty {
  @apply hidden;
}




/* -----가로형 3단----- */

.goods__list--type3 {
  @apply gap-1 m-1;
}
.goods__list--type3 li {
  @apply w-[calc((100%-0.5rem)/3)] grow;
}
.goods__list--type3 li:nth-child(3n) {
  /* @apply border-r-0; */
}
.goods__list--type3 li:last-child {
}
.goods__list--type3 li .goods__card {
  @apply overflow-hidden flex flex-col h-full rounded-xl bg-white shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type3 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-8 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type3 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type3 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center w-auto h-32 m-1 rounded-xl aspect-square bg-white;
}
.goods__list--type3 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type3 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-12 z-10;
  @apply hidden;
}
.goods__list--type3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type3 li .goods__info {
  @apply relative flex-1 flex flex-col mb-2 px-0.5 text-[12px];
}
.goods__list--type3 li .goods__info .goods__name {
  @apply order-2 relative w-full mb-auto px-1 text-base text-center leading-tight line-clamp-3;
}
.goods__list--type3 li .goods__info .goods__price {
  @apply order-4 text-[290%] text-center;
}
.goods__list--type3 li .goods__info .goods__price > span {
  @apply mt-auto text-sm ;
}
.goods__list--type3 li .goods__info .goods__etc1 {
  @apply order-1 text-sm text-center;
}
.goods__list--type3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type3 li .goods__info .goods__delprice {
  @apply order-3 text-sm text-center line-through ;
}
.goods__list--type3 li .goods__info .goods__delprice:empty {
  @apply hidden;
}



/* -----가로형 4단----- */

.goods__list--type4 {
  @apply gap-1 m-1;
}
.goods__list--type4 li {
  @apply w-[calc((100%-0.75rem)/4)] grow;
}
.goods__list--type4 li:nth-child(4n) {
  /* @apply border-r-0; */
}
.goods__list--type4 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--type4 li .goods__card {
  @apply overflow-hidden flex flex-col h-full bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type4 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-7 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type4 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type4 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type4 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}
.goods__list--type4 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type4 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type4 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center w-auto h-28 m-1 rounded-xl aspect-square bg-white;
}
.goods__list--type4 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type4 li .goods__imgbox .goods__badge {
  @apply hidden;
}
.goods__list--type4 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type4 li .goods__info {
  @apply relative flex-1 flex flex-col mb-2 px-0.5 text-[10px];
}
.goods__list--type4 li .goods__info .goods__name {
  @apply order-2 relative w-full mb-auto text-base text-center leading-tight  line-clamp-3;
}
.goods__list--type4 li .goods__info .goods__price {
  @apply order-4 text-[290%] text-center;
}
.goods__list--type4 li .goods__info .goods__price > span {
  @apply mt-auto text-xs;
}
.goods__list--type4 li .goods__info .goods__etc1 {
  @apply order-1 text-sm text-center;
}
.goods__list--type4 li .goods__info .goods__delprice {
  @apply order-3 text-sm text-center line-through ;
}












/* -----세로형 스타일----- */

.goods__list--style2 {
  @apply gap-1 m-1;
}
.goods__list--style2 li {
  @apply w-full min-w-full;
}
.goods__list--style2 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style2 li .goods__card {
  @apply overflow-hidden flex flex-row m-0 p-1 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--style2 li .icon__cartbox {
  @apply absolute right-2 bottom-2 flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--style2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--style2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--style2 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center size-36 rounded-xl aspect-square bg-white;
}
.goods__list--style2 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style2 li .goods__imgbox .goods__badge {
  @apply absolute top-1 left-1 flex items-center justify-center size-12 z-10;
}
.goods__list--style2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style2 li .goods__info {
  @apply relative flex-1 flex flex-col my-1 mx-2;
}
.goods__list--style2 li .goods__info .goods__name {
  @apply order-2 relative w-full mb-auto text-lg text-left leading-tight  line-clamp-2;
}
.goods__list--style2 li .goods__info .goods__price {
  @apply order-4 text-4xl text-left tracking-tight;
}
.goods__list--style2 li .goods__info .goods__price > span {
  @apply mt-auto text-base ;
}
.goods__list--style2 li .goods__info .goods__etc1 {
  @apply order-1 text-sm text-left;
}
.goods__list--style2 li .goods__info .goods__delprice {
  @apply flex-1 order-3 flex items-end text-sm text-left line-through ;
}





/* -----텍스트형----- */

.goods__list--style3 {
  @apply gap-1 m-1;
}
.goods__list--style3 li {
  @apply w-full;
}
.goods__list--style3 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style3 li .goods__card {
  @apply overflow-hidden relative flex flex-col p-2 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--style3 li .icon__cartbox {
  @apply absolute left-2 bottom-2 flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style3 li .icon__cartbox.active {
  @apply border-blue-400;
}
.goods__list--style3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}
.goods__list--style3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}




/* 이미지정보 */
.goods__list--style3 li .goods__imgbox {
  @apply hidden;
}
.goods__list--style3 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style3 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-12 z-10;
  /* @apply w-12 h-12; */
}
.goods__list--style3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style3 li .goods__info {
  @apply relative px-0 text-right;
}
.goods__list--style3 li .goods__info .goods__name {
  @apply col-span-3 order-1 relative w-full px-0.5 mb-2 text-base text-left leading-tight  line-clamp-2;
}
.goods__list--style3 li .goods__info .goods__price {
  @apply order-4 inline ml-auto px-0.5 text-3xl text-right;
}
.goods__list--style3 li .goods__info .goods__price > span {
  @apply mt-auto text-base;
}
.goods__list--style3 li .goods__info .goods__etc1 {
  @apply order-2 inline-block mx-0.5 text-sm text-right;
}
.goods__list--style3 li .goods__info .goods__delprice {
  @apply flex-1 inline-block order-3 mx-0.5 text-sm text-right line-through ;
}




/* -----장문 편집----- */


.goods__pre {
  @apply m-1 p-4 text-sm text-left  whitespace-pre-wrap break-all overflow-auto bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

.goods__pre h1 {
  @apply text-4xl leading-tight font-bold;
}

.goods__pre h2 {
  @apply text-3xl leading-tight font-bold;
}

.goods__pre h3 {
  @apply text-2xl leading-tight font-bold;
}

.goods__pre h4 {
  @apply text-xl leading-tight font-bold;
}

.goods__pre h5 {
  @apply text-lg leading-tight font-bold;
}

.goods__pre h6 {
  @apply text-base leading-tight font-bold;
}

.goods__pre p {
  @apply text-base;
}




/* -----전단지형----- */
.goods__imgbox--only {
  @apply flex flex-col items-center justify-center p-0;
}
.goods__imgbox--only img {
  @apply w-full h-auto max-h-full;
}





