@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Custom';
  src: url('./font/PretendardGOVVariable.woff2') format('woff2');
  font-weight: 100 400 900;
  font-display: swap;
}

@font-face {
    font-family: 'SchoolSafetyPoster';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimPosterB.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


.icon__cartbox {
  @apply z-20;
}

.corner-div {
  font-family: "SchoolSafetyPoster", Arial, sans-serif;
  overflow: hidden;
  transform-style: preserve-3d;
}
.goodsbox {
  display: block;
  margin-top: 10px;
}
.goodsbox__list {
  clear: both;
}
.goodsbox__list::before {
  content: " ";
  display: table;
}
.goodsbox__list::after {
  content: " ";
  display: table;
  clear: both;
}
.goodsbox__list > li {
  position: relative;
  width: 50%;
  float: left;
  margin-bottom: 55px;
}
.goodsbox__list--style2 > li .goodsbox__imgbox {
  width: 250px;
  height: 250px;
  line-height: 250px;
}
.goodsbox__list--style2 > li .goodsbox__btngroup {
  margin-left: 50px;
}
.goodsbox__imgbox {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 5px auto 0;
  background: #f8f9fa;
  line-height: 150px;
  text-align: center;
  vertical-align: top;
}
.goodsbox__imgbox img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
}
.goodsbox__badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 10;
}
.goodsbox__badge img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
}
.goodsbox__info {
  display: inline-block;
}
.goodsbox__btngroup {
  width: 150px;
  margin-top: -35px;
  margin-left: 2px;
  text-align: left;
}
.goodsbox__txt {
  margin: 0 0 10px 0;
  padding-left: 10px;
}
.goodsbox__txt .emp::before {
  content: "*";
  display: inline-block;
  width: 8px;
  margin-left: -8px;
  color: red;
}

.corner-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: 10px 3px 0;
  border-radius: 10px;
  background-color: #FFFFFF;
  @apply my-4;
}

.corner-notice > p {
  font-size: 24px;
  color: #CF0000;
}

.goods {
  display: inline-block;
  width: 100%;
}
.goods::before {
  content: " ";
  display: table;
}
.goods::after {
  content: " ";
  display: table;
  clear: both;
}
.goods__card {
  @apply relative overflow-hidden flex-1 flex flex-col w-full h-full bg-white;
}
.goods__card.popup {
  background: #FFFFFF;
}
.goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center p-2;
}
.goods__imgbox img {
  @apply object-contain w-full h-full;
}
.goods__imgbox--only {
  @apply p-0
}
.goods__imgbox--only img {
    width: 100%;
    max-width: unset;
}


.goods__info {
  @apply relative grid grid-cols-2 mt-auto px-0 z-10 ;
}

.goods__name {
  @apply -order-2 col-span-2 relative w-full my-2 px-2 mt-auto text-xl leading-tight text-black line-clamp-2;
  /* --stroke-width: 3px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ; */
}
.goods__name > span {
  @apply absolute bottom-0 left-0 w-full text-center;
}

.goods__etc1 {
  @apply flex items-center justify-center px-2 text-lg text-zinc-800 bg-rose-100;
}
.goods__delprice {
  @apply flex items-center justify-center px-2 text-lg line-through text-zinc-800 bg-rose-100;
}




.goods__delprice:empty {}

.goods__etc1:empty + .goods__delprice:empty + .goods__price {}
.goods__price {
  @apply col-span-2 flex items-center justify-center py-2 pb-3 text-7xl text-white bg-rose-600 shadow-lg;
  /* --stroke-width: 3px;
  --stroke-color: #fff;
  text-shadow:
    calc(var(--stroke-width) * cos(0deg)) calc(var(--stroke-width) * sin(0deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(10deg)) calc(var(--stroke-width) * sin(10deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(20deg)) calc(var(--stroke-width) * sin(20deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(30deg)) calc(var(--stroke-width) * sin(30deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(40deg)) calc(var(--stroke-width) * sin(40deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(50deg)) calc(var(--stroke-width) * sin(50deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(60deg)) calc(var(--stroke-width) * sin(60deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(70deg)) calc(var(--stroke-width) * sin(70deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(80deg)) calc(var(--stroke-width) * sin(80deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(90deg)) calc(var(--stroke-width) * sin(90deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(100deg)) calc(var(--stroke-width) * sin(100deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(110deg)) calc(var(--stroke-width) * sin(110deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(120deg)) calc(var(--stroke-width) * sin(120deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(130deg)) calc(var(--stroke-width) * sin(130deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(140deg)) calc(var(--stroke-width) * sin(140deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(150deg)) calc(var(--stroke-width) * sin(150deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(160deg)) calc(var(--stroke-width) * sin(160deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(170deg)) calc(var(--stroke-width) * sin(170deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(180deg)) calc(var(--stroke-width) * sin(180deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(190deg)) calc(var(--stroke-width) * sin(190deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(200deg)) calc(var(--stroke-width) * sin(200deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(210deg)) calc(var(--stroke-width) * sin(210deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(220deg)) calc(var(--stroke-width) * sin(220deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(230deg)) calc(var(--stroke-width) * sin(230deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(240deg)) calc(var(--stroke-width) * sin(240deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(250deg)) calc(var(--stroke-width) * sin(250deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(260deg)) calc(var(--stroke-width) * sin(260deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(270deg)) calc(var(--stroke-width) * sin(270deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(280deg)) calc(var(--stroke-width) * sin(280deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(290deg)) calc(var(--stroke-width) * sin(290deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(300deg)) calc(var(--stroke-width) * sin(300deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(310deg)) calc(var(--stroke-width) * sin(310deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(320deg)) calc(var(--stroke-width) * sin(320deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(330deg)) calc(var(--stroke-width) * sin(330deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(340deg)) calc(var(--stroke-width) * sin(340deg)) 0 var(--stroke-color),
    calc(var(--stroke-width) * cos(350deg)) calc(var(--stroke-width) * sin(350deg)) 0 var(--stroke-color)
  ; */
}

.goods__price > span {
  @apply inline-flex mt-auto text-3xl;
}
.goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-[66.6666666667px] z-10;
}
.goods__badge img {
  @apply block max-w-full w-auto max-h-full h-auto;
}
.goods__pre {
  margin: 10px;
  /*padding: 10px; -- pre에 패딩 줄여달라는 피드백있어서 지움*/
  font-size: 14px;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
}
.goods__list {
  @apply flex flex-wrap p-0 divide-y divide-zinc-300;
}
.goods__list li {
  @apply w-full h-auto p-0 m-0 bg-white;
}
.goods__list li:last-child {
  @apply border-b border-zinc-300;
}
.goods__list li .goods__price {
}
.goods__list li .goods__price > span {
  /* font-size: 24px; */
}

/* 가로형 1단 */

/* 가로형 2단 */
.goods__list--type2 {
  @apply border-t border-zinc-300;
}
.goods__list--type2 li {
  @apply  border-b border-r border-zinc-300 w-1/2 min-w-1/2;
}
.goods__list--type2 li:nth-child(2n) {
  @apply border-r-0;
}
.goods__list--type2 li:last-child {
  @apply w-full border-b border-zinc-300;
}
.goods__list--type2 li:nth-last-child(odd) {
  @apply flex-1 border-b border-zinc-300;
}
.goods__list--type2 li .goods__card {
  @apply m-0 p-0;
}
.goods__list--type li .goods__info {
}
.goods__list--type2 li .goods__imgbox {
  @apply flex w-auto h-36;
}
.goods__list--type2 li .goods__imgbox img {
  @apply w-auto max-h-full;
}
.goods__list--type2 li .goods__name {
  @apply text-lg;
}
.goods__list--type2 li .goods__price {
  @apply text-4xl py-1;
}
.goods__list--type2 li .goods__price > span {
  @apply text-lg;
}
.goods__list--type2 li .goods__badge {
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.goods__list--type2 li .goods__etc1,
.goods__list--type2 li .goods__delprice {
  @apply text-xs px-0.5;
}


/* 가로형 3단 */

.goods__list--type3 {
  @apply border-t border-zinc-300;
}
.goods__list--type3 li {
  @apply  border-b border-r border-zinc-300 w-1/3 min-w-1/3;
}
.goods__list--type3 li:nth-child(3n) {
  @apply border-r-0;
}
.goods__list--type3 li:last-child {
  @apply w-full border-b border-zinc-300;
}
.goods__list--type3 li:nth-last-child(odd) {
  @apply flex-1 border-b border-zinc-300;
}
.goods__list--type3 li .goods__card {
  @apply m-0 p-0;
}
.goods__list--type3 li .goods__info {
}
.goods__list--type3 li .goods__imgbox {
  @apply flex w-auto h-36;
}
.goods__list--type3 li .goods__imgbox img {
  @apply w-auto max-h-full;
}
.goods__list--type3 li .goods__name {
  @apply text-base;
}
.goods__list--type3 li .goods__price {
  @apply text-2xl py-0.5;
}
.goods__list--type3 li .goods__price > span {
  @apply text-sm;
}
.goods__list--type3 li .goods__badge {
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.goods__list--type3 li .goods__etc1,
.goods__list--type3 li .goods__delprice {
  @apply text-[11px] px-0.5;
}



/* 

.goods__list--type3 {
  @apply border-t border-zinc-300;
}
.goods__list--type3 li {
  @apply  border-b border-r border-zinc-300 w-1/3;
}
.goods__list--type3 li:nth-child(3n) {
  @apply border-r-0;
}
.goods__list--type3 li:last-child {
  @apply w-full border-b border-zinc-300;
}
.goods__list--type3 li:nth-last-child(odd) {
  @apply flex-1 border-b border-zinc-300;
}
.goods__list--type3 li .goods__card {
  @apply p-0;
}
.goods__list--type3 li .goods__info {
}
.goods__list--type3 li .goods__imgbox {
  @apply flex w-auto h-22;
}
.goods__list--type3 li .goods__imgbox img {
  @apply w-auto max-h-full;
}
.goods__list--type3 li .goods__name {
  @apply text-sm;
}
.goods__list--type3 li .goods__badge {
  @apply size-7;
}
.goods__list--type3 li .goods__price {
  @apply h-4 mt-6 text-2xl;
}
.goods__list--type3 li .goods__price > span {
  @apply text-sm;
}
.goods__list--type3 li .goods__etc1,
.goods__list--type3 li .goods__delprice {
  @apply text-xs px-0.5;
} */





/* 가로형 4단 */

.goods__list--type4 {
  @apply border-t border-zinc-300;
}
.goods__list--type4 li {
  @apply  border-b border-r border-zinc-300 w-1/4 min-w-1/4;
}
.goods__list--type4 li:nth-child(4n) {
  @apply border-r-0;
}
.goods__list--type4 li:last-child {
  @apply w-full border-b border-zinc-300;
}
.goods__list--type4 li:nth-last-child(odd) {
  @apply flex-1 border-b border-zinc-300;
}
.goods__list--type4 li .goods__card {
  @apply m-0 p-0;
}
.goods__list--type4 li .goods__info {
}
.goods__list--type4 li .goods__imgbox {
  @apply flex w-auto h-36 px-0.5;
}
.goods__list--type4 li .goods__imgbox img {
  @apply w-auto max-h-full;
}
.goods__list--type4 li .goods__name {
  @apply text-sm px-0.5;
}
.goods__list--type4 li .goods__price {
  @apply text-lg py-0.5;
}
.goods__list--type4 li .goods__price > span {
  @apply text-xs;
}
.goods__list--type4 li .goods__badge {
  /* width: 48px;
  height: 48px;
  line-height: 48px; */
}
.goods__list--type4 li .goods__etc1,
.goods__list--type4 li .goods__delprice {
  @apply col-span-2 text-[11px] px-0.5;
}

.soldout-div {
  @apply rounded-none;
}




/* 세로형 style2 */
.goods__list--style2 {
  @apply border-t border-zinc-300;
}
.goods__list--style2 li {
  @apply  border-b border-zinc-300;
  height: 150px;
  padding: 10px;
}






/* 
.goods__list--style2 li .goods__imgbox {
  float: left;
  width: 42%;
  height: 130px;
}
.goods__list--style2 li .goods__info {
  float: left;
  width: 168px;
  margin: 0 0 0 10px;
  text-align: left;
}
.goods__list--style2 li .goods__name {
  width: auto;
  margin: 8px 0;
  min-height: calc(1.2em * 2);
  font-size: 17px;
}
.goods__list--style2 li .goods__etc1,
.goods__list--style2 li .goods__delprice {
  margin: 5px 0;
}
.goods__list--style2 li .goods__price {
  font-size: 300%;
}
.goods__list--style2 li .goods__price > span {
  font-size: 18px;
}
.goods__list--style2 li .goods__badge {
  width: 43.3333333333px;
  height: 43.3333333333px;
}
.goods__list--style2.even li:nth-child(even) .goods__imgbox {
  float: right;
}
.goods__list--style2.even li:nth-child(even) .goods__info {
  float: right;
  margin: 10px 10px 0 0;
  text-align: right;
}
.goods__list--style2.even li.ie8_even .goods__imgbox {
  float: right;
}
.goods__list--style2.even li.ie8_even .goods__info {
  float: right;
  margin: 10px 10px 0 0;
  text-align: right;
}
.goods__list--style3 {
  flex-direction: column;
}
.goods__list--style3 li {
  height: auto;
  padding: 2px;
}
.goods__list--style3 li .goods__card {
  display: block;
}
.goods__list--style3 li .goods__imgbox {
  display: none;
}
.goods__list--style3 li .goods__info {
  padding-bottom: 7px;
  text-align: right;
}
.goods__list--style3 li .goods__name {
	height: 33px;
  font-size: 15px;
  float: none;
  width: auto;
  max-width: 100%;
  margin-top: 7px;
  text-align: left;
}

.goods__list--style3 li .goods__price {
  display: inline;
  font-size: 300%;
  padding: 0 5px;
}
.goods__list--style3 li .goods__price > span {
  font-size: 18px;
}
.goods__list--style3 li .goods__badge {
  display: none;
}
