@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR&display=swap'); */



/* 텍스트 폰트 */
@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
  font-weight: 300 500 700;
  font-display: swap;
}

/* 숫자폰트 */
@font-face {
  font-family: 'Anton';
  src: url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR&display=swap') format('woff2');
  font-weight: 900;
  font-display: swap;
  unicode-range: U+0030-0039;
}


/* 폰트 지정 */
.corner-div { 
  font-family: "Aggravo", Arial, sans-serif;
  @apply p-1;
}
.goods__name {
  font-family: "Aggravo", Arial, sans-serif;
  @apply text-zinc-800 font-medium;
}
.goods__delprice {
  font-family: Arial, sans-serif;
}
.goods__price {
  font-family: 'Anton', Arial, sans-serif;
  @apply text-[#cf0000] leading-none;
}
.goods__price > span {
  font-family: Arial, sans-serif;
  @apply font-normal;
}
.goods__etc1 {
  font-family: Arial, sans-serif;
  @apply font-medium;
}
.goods__pre {
  font-family:'Aggravo', Arial, sans-serif;
}


/* -----뷰 공통----- */

.corner-div, .preview {
  @apply relative overflow-hidden break-all text-zinc-800;
}

.goods__list {
  @apply flex flex-wrap p-0;
}
.goods__list li {
  @apply relative w-full h-auto p-0 m-0;
}

.goods__card {
  @apply relative w-full h-full;
}

/* 품절 표시 */
.goods__card .soldout-div {
  @apply flex items-center justify-center absolute inset-0 w-full h-full bg-black/40 text-2xl font-normal text-white z-30;
}

/* 코너정보 */
.corner-notice,.sample-corner-notice {
  @apply flex justify-center items-center min-h-11 bg-zinc-800;
}

.corner-notice > p, .sample-corner-notice > p {
  @apply max-w-full p-2 text-2xl text-center text-[#fbff1a] font-bold;
}










/* -----가로형 1단----- */
.goods__list--type1 {
  @apply gap-0 m-0;
}
.goods__list--type1 li {
  @apply w-full min-w-full border-b;
}
.goods__list--type1 li:last-child {
  /* @apply w-full pb-1; */
}
.goods__list--type1 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type1 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white;
}

/* 카트 아이콘 */
.goods__list--type1 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-11 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type1 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type1 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type1 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type1 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type1 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type1 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-72 p-2 aspect-square bg-white;
}
.goods__list--type1 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type1 li .goods__imgbox .goods__badge {
  @apply absolute left-1 top-1 flex items-center justify-center size-17 z-10;
}
.goods__list--type1 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type1 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col px-0 py-2 bg-[#fde047];
}
.goods__list--type1 li .goods__info .goods__name {
  @apply order-2 flex-1 relative pt-3 px-2 text-3xl text-center leading-tight line-clamp-2;
}
.goods__list--type1 li .goods__info .goods__price {
  @apply order-4 px-2 text-6xl text-center;
}
.goods__list--type1 li .goods__info .goods__price > span {
  @apply mt-auto text-2xl;
}
.goods__list--type1 li .goods__info .goods__etc1 {
  @apply order-1 max-w-[90%] mx-auto px-4 py-0.5 rounded text-base text-center leading-tight;
}
.goods__list--type1 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type1 li .goods__info .goods__delprice {
  @apply order-3 min-h-8 px-2 text-2xl text-center line-through;
}
.goods__list--type1 li .goods__info .goods__price:empty {
  @apply hidden;
}






/* -----가로형 2단----- */
.goods__list--type2 {
  @apply gap-0 my-0;
}
.goods__list--type2 li {
  @apply w-[calc((100%)/2)] grow border-r border-b border-zinc-800;
}
.goods__list--type2 li:last-child {
  @apply border-r-0;
}
.goods__list--type2 li:nth-child(2n) {
  @apply border-r-0;
}
.goods__list--type2 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white;
}

/* 카트 아이콘 */
.goods__list--type2 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-9 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type2 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-43 p-2 aspect-square bg-white;
}
.goods__list--type2 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type2 li .goods__imgbox .goods__badge {
  @apply absolute left-1 top-1 flex items-center justify-center size-12 z-10;
}
.goods__list--type2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type2 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col px-1 py-1 gap-1 bg-[#fde047];
}
.goods__list--type2 li .goods__info .goods__name {
  @apply order-2 flex-1 relative text-xl text-center leading-tight text-zinc-800 line-clamp-2;
}
.goods__list--type2 li .goods__info .goods__price {
  @apply order-4 text-5xl text-center;
}
.goods__list--type2 li .goods__info .goods__price > span {
  @apply mt-auto text-lg;
}
.goods__list--type2 li .goods__info .goods__etc1 {
  @apply order-1 max-w-[90%] mx-auto px-1 py-0.5 rounded text-sm text-center
}
.goods__list--type2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type2 li .goods__info .goods__delprice {
  @apply order-3 text-base text-center line-through;
}













/* -----가로형 3단----- */
.goods__list--type3 {
  @apply gap-0 my-0;
}
.goods__list--type3 li {
  @apply w-[calc((100%)/3)] grow border-r border-b border-zinc-800;
}
.goods__list--type3 li:last-child {
  @apply border-r-0;
}
.goods__list--type3 li:nth-child(3n) {
  @apply border-r-0;
}
.goods__list--type3 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white;
}

/* 카트 아이콘 */
.goods__list--type3 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-8 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type3 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type3 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-28 p-1 aspect-square bg-white;
}
.goods__list--type3 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type3 li .goods__imgbox .goods__badge {
  @apply hidden absolute left-0 bottom-13 items-center justify-center size-12 z-10;
}
.goods__list--type3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full mt-auto h-auto;
}

/* 상품정보 */
.goods__list--type3 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col px-0.5 py-1 gap-1 bg-[#fde047] text-[15px];
}
.goods__list--type3 li .goods__info .goods__name {
  @apply order-2 flex-1 relative text-base text-center leading-tight line-clamp-3;
}
.goods__list--type3 li .goods__info .goods__price {
  @apply order-4 text-[290%] text-center;
}
.goods__list--type3 li .goods__info .goods__price > span {
  @apply mt-auto text-sm;
}
.goods__list--type3 li .goods__info .goods__etc1 {
  @apply order-1 max-w-[90%] mx-auto px-1 py-0.5 rounded text-sm text-center;
}
.goods__list--type3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type3 li .goods__info .goods__delprice {
  @apply order-3 text-sm text-center line-through;
}
.goods__list--type3 li .goods__info .goods__delprice:empty {
  @apply hidden;
}














/* -----가로형 4단----- */

.goods__list--type4 {
  @apply gap-0 m-0;
}
.goods__list--type4 li {
  @apply w-[calc((100%)/4)] grow border-r border-b border-zinc-800;
}
.goods__list--type4 li:last-child {
  @apply border-r-0;
}
.goods__list--type4 li:nth-child(4n) {
  @apply border-r-0;
}
.goods__list--type4 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white;
}

/* 카트 아이콘 */
.goods__list--type4 li .icon__cartbox {
  @apply absolute right-0 bottom-0 flex items-center justify-center size-7 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type4 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type4 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type4 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type4 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type4 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type4 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-22 p-1 aspect-square bg-white;
}
.goods__list--type4 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full mt-auto;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type4 li .goods__imgbox .goods__badge {
  @apply hidden;
}
.goods__list--type4 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type4 li .goods__info {
  @apply order-1 flex-1 relative flex flex-col px-0.5 py-1 gap-0.5 bg-[#fde047] text-[13px];
}
.goods__list--type4 li .goods__info .goods__name {
  @apply order-2 flex-1 relative text-lg text-center leading-tight line-clamp-3;
}
.goods__list--type4 li .goods__info .goods__price {
  @apply order-4 text-[290%] text-center;
}
.goods__list--type4 li .goods__info .goods__price > span {
  @apply mt-auto text-xs;
}
.goods__list--type4 li .goods__info .goods__etc1 {
  @apply order-1 max-w-[90%] mx-auto px-0.5 py-0.5 rounded text-xs text-center;
}
.goods__list--type4 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type4 li .goods__info .goods__delprice {
  @apply order-3 text-base text-center line-through;
}
.goods__list--type4 li .goods__info .goods__delprice:empty {
  @apply hidden;
}











/* -----세로형 스타일----- */

.goods__list--style2 {
  @apply gap-0 m-0;
}
.goods__list--style2 li {
  @apply w-full min-w-full border-b;
}
.goods__list--style2 li:last-child {
}
.goods__list--style2 li .goods__card {
  @apply overflow-hidden flex flex-row border-2 border-[#fde047] bg-white;
}

/* 카트 아이콘 */
.goods__list--style2 li .icon__cartbox {
  @apply absolute right-[5%] bottom-[5%] flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--style2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--style2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--style2 li .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center size-36 min-w-36 min-h-36 p-2;
}
.goods__list--style2 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style2 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-11 z-10;
}
.goods__list--style2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style2 li .goods__info {
  @apply relative flex flex-col min-w-40 p-2 mr-auto gap-1.5;
}
.goods__list--style2 li .goods__info .goods__name {
  @apply order-2 mb-auto text-xl text-left leading-tight;
}
.goods__list--style2 li .goods__info .goods__price {
  @apply order-4 px-2 pt-1 pb-0.5 mr-auto rounded text-3xl bg-[#fde047] text-left text-wrap;
}
.goods__list--style2 li .goods__info .goods__price > span {
  @apply mt-auto text-base;
}
.goods__list--style2 li .goods__info .goods__etc1 {
  @apply order-1 max-w-full mr-auto px-2 py-0.5 rounded text-sm;
}
.goods__list--style2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--style2 li .goods__info .goods__delprice {
  @apply order-3 mr-auto text-lg text-left line-through;
}
.goods__list--style2 li .goods__info .goods__price:empty {
  @apply hidden;
}




/* -----텍스트형----- */

.goods__list--style3 {
  @apply gap-0 m-0;
}
.goods__list--style3 li {
  @apply w-full border-b;
}
.goods__list--style3 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style3 li .goods__card {
  @apply overflow-hidden flex flex-row p-3 border-2 border-[#fde047] bg-white;
}

/* 카트 아이콘 */
.goods__list--style3 li .icon__cartbox {
  @apply absolute left-2 bottom-2 flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style3 li .icon__cartbox.active {
  @apply border-blue-400;
}
.goods__list--style3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}
.goods__list--style3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}



/* 이미지정보 */
.goods__list--style3 li .goods__imgbox {
  @apply hidden;
}
.goods__list--style3 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style3 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-12 z-10;
}
.goods__list--style3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style3 li .goods__info {
  @apply relative flex-1 flex flex-wrap gap-1 px-1 text-right break-all;
}
.goods__list--style3 li .goods__info .goods__name {
  @apply order-2 relative flex w-full px-0.5 mb-2 text-xl text-left leading-tight;
}
.goods__list--style3 li .goods__info .goods__price {
  @apply order-4 pt-1 pb-0.5 px-2 rounded text-3xl bg-[#fde047] text-left text-wrap;
}
.goods__list--style3 li .goods__info .goods__price > span {
  @apply mt-auto text-base;
}
.goods__list--style3 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mr-auto px-1.5 py-0.5 rounded text-sm text-left;
}
.goods__list--style3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--style3 li .goods__info .goods__delprice {
  @apply order-3 mx-0.5 ml-auto text-lg text-right line-through text-shadow-none;
}
.goods__list--style3 li .goods__info .goods__price:empty {
  @apply hidden;
}




/* -----장문 편집----- */


.goods__pre {
  @apply m-1 p-4 text-sm text-left whitespace-pre-wrap break-all overflow-auto bg-white rounded-xl;
}

.goods__pre h1 {
  @apply text-4xl leading-tight font-bold;
}

.goods__pre h2 {
  @apply text-3xl leading-tight font-bold;
}

.goods__pre h3 {
  @apply text-2xl leading-tight font-bold;
}

.goods__pre h4 {
  @apply text-xl leading-tight font-bold;
}

.goods__pre h5 {
  @apply text-lg leading-tight font-bold;
}

.goods__pre h6 {
  @apply text-base leading-tight font-bold;
}
.goods__pre p {
  @apply text-base;
}




/* -----전단지형----- */
.goods__imgbox--only {
  @apply flex flex-col items-center justify-center p-0;
}
.goods__imgbox--only img {
  @apply w-full h-auto max-h-full;
}





