@import 'tailwindcss';

/* -----팝업창----- */
/* base z-index는 1000 부터 시작 */
.product-wrap {
  @apply flex justify-center items-center fixed inset-0 p-3 z-[1001];
}
.product-wrap .product-bg {
  @apply absolute inset-0 bg-black/40;
}
.product-panel {
  @apply overflow-hidden flex flex-col relative w-full p-4 bg-white rounded-2xl z-[1002];
}
.product-panel .product-tit {
  @apply mb-4 text-xl text-center font-bold;
}
.product-img {
  @apply overflow-hidden flex justify-center items-center h-[220px] my-0 mx-[-16px];
}
.product-img img {
  @apply object-contain w-auto h-[120%];
}

/* 상품 더하기 빼기 버튼 */
.product-quantity {
  @apply relative flex items-center w-[130px] h-[40px] my-2 mx-auto bg-white border border-zinc-400 rounded-full;
}
.product-quantity.disabled {
  @apply border-none;
}
.product-quantity.disabled:after {
  content:"";
  @apply absolute inset-0 bg-black/5 rounded-full z-10 cursor-not-allowed;
}
.product-quantity-btn {
  @apply flex justify-center items-center w-10 h-full cursor-pointer;
}
.product-quantity-btn.minus {
  @apply mr-auto;
}
.product-quantity-btn.plus {
  @apply ml-auto;
}
.product-quantity-value {
  @apply w-12 h-full mx-auto text-center text-lg font-bold border-none;
}
.product-quantity-value::-webkit-outer-spin-button,
.product-quantity-value::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}
.product-quantity.disabled .product-quantity-btn,
.product-quantity.disabled .product-quantity-value {
  opacity: 0.3;
  /* 투명도를 낮춰서 흐릿하게 만듦 */
  filter: grayscale(100%);
  /* 흑백 처리 (필요시) */
  @apply opacity-30 filter grayscale;
}

.product-info {
  @apply flex flex-col;
}
.product-info > p {
  @apply text-sm my-2 mx-auto
}
.product-info .product-etc1 {
  @apply mt-2.5 mx-auto mb-0 text-lg text-blue-600;
}
.product-info .product-etc1:empty,.product-info .product-delprice:empty {
  @apply hidden;
}
.product-info .product-delprice {
  @apply mt-2.5 mx-auto mb-0 text-lg text-zinc-800 line-through;
}
.product-info .product-etc1:empty+.product-info .product-delprice:empty+.product-info .product-price {
  @apply mt-2.5;
}
.product-info .product-price {
  @apply mt-2.5 mx-auto text-4xl font-bold text-[#cf0000];
}
.product-info .product-price > span {
  @apply mt-auto ml-0.5 text-base text-zinc-800;
}
.product-info .product-name {
  @apply mt-2.5 mx-auto mb-0 text-lg font-bold text-zinc-800;
}
.product-info .product-btn {
  @apply flex items-center justify-center w-[200px] h-[46px] my-4 mx-auto bg-rose-600 rounded-lg text-lg font-bold text-white;
}
.product-info .product-btn.disabled {
  @apply bg-zinc-200 text-zinc-400 cursor-not-allowed;
}


.product-close {
  @apply absolute top-3 right-5 size-6 fill-zinc-500 cursor-pointer;
}

/* -----팝업창2----- */

.layer__wrap {
  @apply hidden;
}
.layer__wrap .layer__bg {
  @apply absolute inset-0 bg-black/40 z-[1000];
}
.layer__wrap .layer__box {
  @apply absolute top-1/10 flex flex-col w-full h-auto p-3 z-[1001];
}

.goods__card.popup {
  @apply overflow-hidden flex flex-col w-full h-auto bg-white rounded-2xl;
}

.goods__card.popup .goods__imgbox {
  @apply relative overflow-hidden flex items-center justify-center w-full h-[300px] p-2;
}
.goods__card.popup .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-75;
}


.goods__card.popup .goods__info {
  @apply relative grid grid-cols-1 mt-auto mb-2 px-0;
}
.goods__card.popup .goods__info .layer__goods__name{
  @apply relative overflow-hidden flex items-center justify-center w-full my-1 mx-auto text-xl font-semibold leading-tight text-zinc-800 line-clamp-2;
}
.goods__card.popup .goods__info .goods__price{
  @apply relative overflow-hidden flex items-center justify-center w-full my-1 mx-auto text-3xl font-bold text-[#cf0000];
}
.goods__card.popup .goods__info .goods__price > span{
  @apply mt-auto ml-0.5 text-base text-zinc-800;
}
.goods__card.popup .goods__info .goods__etc1{
  @apply relative overflow-hidden flex items-center justify-center w-full my-1 mx-auto text-base font-normal text-blue-600 font-bold leading-tight;
}
.goods__card.popup .goods__info .goods__delprice{
  @apply relative overflow-hidden flex items-center justify-center w-full my-1 mx-auto text-base font-normal text-zinc-800 line-through;
}
.goods__card.popup .goods__info .goods__etc1:empty,.goods__card.popup .goods__info .goods__delprice:empty {
  @apply hidden;
}
.layer__close {
  @apply absolute top-3 right-5 size-6 fill-zinc-500 cursor-pointer;
}

