@import 'tailwindcss';


/* 텍스트폰트 */

@font-face {
    font-family: 'Presentation';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'YuhanKimberlyPureunsoop';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607101517@font-2/font-2/font-2-300.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'YuhanKimberlyPureunsoop';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607101517@font-2/font-2/font-2-500.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'YuhanKimberlyPureunsoop';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607101517@font-2/font-2/font-2-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/* 숫자폰트 */
@font-face {
  font-family: 'YeogiOttaeJalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  unicode-range: U+0030-0039;
}


/* 폰트 지정 */
.corner-div { 
  font-family: "YuhanKimberlyPureunsoop", Arial, sans-serif;
  @apply text-zinc-800;
}
.goods__name {
  font-family: "YuhanKimberlyPureunsoop", Arial, sans-serif;
  @apply text-zinc-800 font-bold;
}
.goods__delprice {
  font-family: Arial, sans-serif;
}
.goods__price {
  font-family: 'YeogiOttaeJalnan', Arial, sans-serif;
  @apply text-white leading-none;
}
.goods__price > span {
  font-family: Arial, sans-serif;
  @apply font-normal;
}
.goods__etc1 {
  font-family: Arial, sans-serif;
  @apply font-medium;
}
.goods__pre {
  font-family:'YuhanKimberlyPureunsoop', Arial, sans-serif;
}

/* -----뷰 공통----- */

.corner-div, .preview {
  @apply relative overflow-hidden break-all text-zinc-800;
}

.goods__list {
  @apply flex flex-wrap p-0;
}
.goods__list li {
  @apply relative w-full h-auto p-0 m-0;
}

.goods__card {
  @apply relative w-full h-full;
}

/* 품절 표시 */
.goods__card .soldout-div {
  @apply flex items-center justify-center absolute inset-0 w-full h-full bg-black/40 text-2xl font-normal text-white z-30;
}

/* 코너정보 */
.corner-notice,.sample-corner-notice {
  @apply flex justify-center items-center min-h-11 bg-indigo-700;
}
.corner-notice > p, .sample-corner-notice > p {
  @apply max-w-full p-2 text-2xl text-center text-blue-50 font-bold;
}






/* -----가로형 1단----- */
.goods__list--type1 {
  @apply gap-2 m-2;
}
.goods__list--type1 li {
  @apply w-full min-w-full;
}
.goods__list--type1 li:last-child {
  /* @apply w-full pb-1; */
}
.goods__list--type1 li:nth-last-child(odd) {
  /* @apply flex-1; */
}
.goods__list--type1 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white rounded-xl shadow;
}

/* 카트 아이콘 */
.goods__list--type1 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-9 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type1 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type1 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type1 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type1 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type1 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type1 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-72 p-2 aspect-square bg-white;
}
.goods__list--type1 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type1 li .goods__imgbox .goods__badge {
  @apply absolute left-1 top-1 flex items-center justify-center size-17 z-10;
}
.goods__list--type1 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type1 li .goods__info {
  @apply flex-1 relative flex flex-col px-2 py-2 gap-1.5 border-t border-[#eaeeff] bg-white;
}
.goods__list--type1 li .goods__info .goods__name {
  @apply order-2 flex-1 relative w-full text-2xl text-left leading-tight line-clamp-2;
}
.goods__list--type1 li .goods__info .goods__price {
  @apply order-4 w-full mb-auto py-2 text-5xl text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type1 li .goods__info .goods__price > span {
  @apply mt-auto ml-1 text-xl;
}
.goods__list--type1 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mr-auto p-1 rounded text-base text-left text-indigo-800 bg-indigo-100 leading-none;
}
.goods__list--type1 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type1 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mr-auto rounded text-lg text-left leading-none line-through;
}
.goods__list--type1 li .goods__info .goods__delprice:empty {
  @apply hidden;
}






/* -----가로형 2단----- */
.goods__list--type2 {
  @apply gap-1 m-2;
}
.goods__list--type2 li {
  @apply w-[calc((100%-0.5rem)/2)] grow;
}
.goods__list--type2 li:last-child {
  /* @apply border-r-0; */
}
.goods__list--type2 li:nth-child(2n) {
  /* @apply border-r-0; */
}
.goods__list--type2 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type2 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-9 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type2 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-43 p-1 aspect-square bg-white;
}
.goods__list--type2 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--type2 li .goods__imgbox .goods__badge {
  @apply absolute left-1 top-1 flex items-center justify-center size-12 z-10;
}
.goods__list--type2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type2 li .goods__info {
  @apply flex-1 relative flex flex-col p-2 gap-1 border-t border-[#eaeeff] bg-white;
}
.goods__list--type2 li .goods__info .goods__name {
  @apply order-2 flex-1 relative w-full mb-auto text-xl text-left leading-tight line-clamp-2;
}
.goods__list--type2 li .goods__info .goods__price {
  @apply order-4 w-full mr-auto py-1 text-4xl text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type2 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-base;
}
.goods__list--type2 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mr-auto p-1 rounded text-sm text-left text-indigo-800 bg-indigo-100 leading-tight;
}
.goods__list--type2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type2 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mr-auto text-base text-left leading-none line-through;
}
.goods__list--type2 li .goods__info .goods__delprice:empty {
  @apply hidden;
}













/* -----가로형 3단----- */
.goods__list--type3 {
  @apply gap-1 m-2;
}
.goods__list--type3 li {
  @apply w-[calc((100%-0.5rem)/3)] grow;
}
.goods__list--type3 li:last-child {
  /* @apply border-r-0; */
}
.goods__list--type3 li:nth-child(3n) {
  /* @apply border-r-0; */
}
.goods__list--type3 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type3 li .icon__cartbox {
  @apply absolute right-1 bottom-1 flex items-center justify-center size-8 border rounded-full border-zinc-300 bg-white z-10 shadow;

}
.goods__list--type3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type3 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}

/* 이미지정보 */
.goods__list--type3 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-28 p-1 aspect-square bg-white;
}
.goods__list--type3 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type3 li .goods__imgbox .goods__badge {
  @apply hidden absolute left-0 bottom-13 items-center justify-center size-12 z-10;
}
.goods__list--type3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full mt-auto h-auto;
}

/* 상품정보 */
.goods__list--type3 li .goods__info {
  @apply flex-1 relative flex flex-col px-1 pt-2 pb-1 gap-1 border-t border-[#eaeeff] bg-white;
}
.goods__list--type3 li .goods__info .goods__name {
  @apply order-2 flex-1 relative w-full mb-auto text-lg text-left leading-tight line-clamp-3;
}
.goods__list--type3 li .goods__info .goods__price {
  @apply order-4 w-full mr-auto py-1 text-2xl text-white text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type3 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-xs;
}
.goods__list--type3 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mr-auto p-1 rounded text-sm text-left text-indigo-800 bg-indigo-100 leading-none;
}
.goods__list--type3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type3 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mr-auto text-sm text-center line-through leading-none;
}
.goods__list--type3 li .goods__info .goods__delprice:empty {
  @apply hidden;
}














/* -----가로형 4단----- */

.goods__list--type4 {
  @apply gap-1 m-2;
}
.goods__list--type4 li {
  @apply w-[calc((100%-0.75rem)/4)] grow;
}
.goods__list--type4 li:last-child {
  /* @apply border-r-0; */
}
.goods__list--type4 li:nth-child(4n) {
  /* @apply border-r-0; */
}
.goods__list--type4 li .goods__card {
  @apply overflow-hidden flex flex-col m-0 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--type4 li .icon__cartbox {
  @apply absolute right-0 bottom-0 flex items-center justify-center size-7 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--type4 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--type4 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--type4 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--type4 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--type4 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--type4 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col justify-center w-auto h-22 p-1 aspect-square bg-white ;
}
.goods__list--type4 li .goods__imgbox img {
  @apply object-contain w-auto max-h-full mt-auto;
}

/* 뱃지 영역 및 크기 3~4단 뱃지 사용 안함 */
.goods__list--type4 li .goods__imgbox .goods__badge {
  @apply hidden;
}
.goods__list--type4 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--type4 li .goods__info {
  @apply flex-1 relative flex flex-col px-1 pt-2 pb-1 gap-0.5 border-t border-[#eaeeff] text-[9px] bg-white;
}
.goods__list--type4 li .goods__info .goods__name {
  @apply order-2 flex-1 relative w-full mb-auto text-base text-left leading-tight line-clamp-3;
}
.goods__list--type4 li .goods__info .goods__price {
  @apply order-4 w-full mb-auto py-0.5 text-[290%] text-white text-center bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--type4 li .goods__info .goods__price > span {
  @apply mt-auto text-xs;
}
.goods__list--type4 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mb-auto mx-auto p-1 rounded text-xs text-left text-indigo-800 bg-indigo-100 leading-none;
}
.goods__list--type4 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--type4 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mr-auto text-xs text-center line-through leading-none;
}
.goods__list--type4 li .goods__info .goods__delprice:empty {
  @apply hidden;
}











/* -----세로형 스타일----- */

.goods__list--style2 {
  @apply gap-1 m-2;
}
.goods__list--style2 li {
  @apply w-full min-w-full;
}
.goods__list--style2 li:last-child {
}
.goods__list--style2 li .goods__card {
  @apply overflow-hidden flex flex-row m-0 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--style2 li .icon__cartbox {
  @apply absolute right-[5%] bottom-[5%] flex items-center justify-center size-8.5 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style2 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style2 li .icon__cartbox.active {
  @apply border-blue-400;
}

.goods__list--style2 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}

.goods__list--style2 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style2 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}


/* 이미지정보 */
.goods__list--style2 li .goods__imgbox {
  @apply relative overflow-hidden flex flex-col items-center justify-center size-36 min-w-36 min-h-36 p-1 aspect-square bg-white;
}
.goods__list--style2 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style2 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-11 z-10;
}
.goods__list--style2 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style2 li .goods__info {
  @apply flex-1 relative flex flex-col px-2 my-2 gap-1 bg-white;
}
.goods__list--style2 li .goods__info .goods__name {
  @apply order-2 flex-1 relative w-full mb-auto text-xl text-left leading-tight line-clamp-2;
}
.goods__list--style2 li .goods__info .goods__price {
  @apply order-4 w-full mb-auto py-1 text-3xl text-white border text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--style2 li .goods__info .goods__price > span {
  @apply mt-auto ml-0.5 text-base;
}
.goods__list--style2 li .goods__info .goods__etc1 {
  @apply order-1 flex items-center justify-center mr-auto px-1 py-1 rounded text-sm text-left text-indigo-800 bg-indigo-100 leading-none;
}
.goods__list--style2 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--style2 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mr-auto py-1 text-sm line-through leading-none;
}
.goods__list--style2 li .goods__info .goods__delprice:empty {
  @apply hidden;
}




/* -----텍스트형----- */

.goods__list--style3 {
  @apply gap-1 m-2;
}
.goods__list--style3 li {
}
.goods__list--style3 li:last-child {
  /* @apply w-full border-b border-zinc-300; */
}
.goods__list--style3 li .goods__card {
  @apply overflow-hidden flex flex-row m-0 px-2 py-1 bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

/* 카트 아이콘 */
.goods__list--style3 li .icon__cartbox {
  @apply absolute right-2 top-2 flex items-center justify-center size-8 border rounded-full border-zinc-300 bg-white z-10 shadow;
}
.goods__list--style3 li .icon__cartbox svg {
  @apply fill-zinc-400;
}
.goods__list--style3 li .icon__cartbox.active {
  @apply border-blue-400;
}
.goods__list--style3 li .icon__cartbox.active svg {
  @apply fill-blue-500;
}
.goods__list--style3 li .icon__cartbox.disabled {
  @apply bg-zinc-200 border-zinc-200;
}
.goods__list--style3 li .icon__cartbox.disabled svg {
  @apply opacity-30 filter grayscale
}



/* 이미지정보 */
.goods__list--style3 li .goods__imgbox {
  @apply hidden;
}
.goods__list--style3 li .goods__imgbox img {
  @apply object-contain w-auto h-full max-h-full;
}

/* 뱃지 영역 및 크기 */
.goods__list--style3 li .goods__imgbox .goods__badge {
  @apply absolute top-2 left-2 flex items-center justify-center size-[66.6666666667px] z-10;
  @apply w-12 h-12;
}
.goods__list--style3 li .goods__imgbox .goods__badge img {
   @apply block max-w-full w-auto max-h-full h-auto;
}

/* 상품정보 */
.goods__list--style3 li .goods__info {
  @apply flex-1 relative flex flex-row flex-wrap px-1 my-2 gap-1 bg-white;
}
.goods__list--style3 li .goods__info .goods__name {
  @apply order-1 relative w-full mt-auto pr-8 text-xl text-left leading-tight line-clamp-2;
}
.goods__list--style3 li .goods__info .goods__price {
  @apply order-3 w-full mb-auto py-1 text-3xl text-white border text-center tracking-tight bg-linear-to-r from-[#4F46E5] to-[#0EA5E9] rounded-lg;
}
.goods__list--style3 li .goods__info .goods__price > span {
  @apply mt-auto ml-1 text-base;
}
.goods__list--style3 li .goods__info .goods__etc1 {
  @apply order-2 flex items-center justify-center mb-auto px-1 py-1 rounded text-sm text-left text-indigo-800 bg-indigo-100 leading-none;
}
.goods__list--style3 li .goods__info .goods__etc1:empty {
  @apply hidden;
}
.goods__list--style3 li .goods__info .goods__delprice {
  @apply order-3 flex items-center justify-center mb-auto px-1 py-1 text-sm line-through leading-none;
}
.goods__list--style3 li .goods__info .goods__delprice:empty {
  @apply hidden;
}




/* -----장문 편집----- */

.goods__pre {
  @apply m-2 p-4 text-sm text-left whitespace-pre-wrap break-all overflow-auto bg-white rounded-xl shadow-xs shadow-zinc-800/20;
}

.goods__pre h1 {
  @apply text-4xl leading-tight font-bold;
}

.goods__pre h2 {
  @apply text-3xl leading-tight font-bold;
}

.goods__pre h3 {
  @apply text-2xl leading-tight font-bold;
}

.goods__pre h4 {
  @apply text-xl leading-tight font-bold;
}

.goods__pre h5 {
  @apply text-lg leading-tight font-bold;
}

.goods__pre h6 {
  @apply text-base leading-tight font-bold;
}




/* -----전단지형----- */
.goods__imgbox--only {
  @apply flex flex-col items-center justify-center p-0;
}
.goods__imgbox--only img {
  @apply w-full h-auto max-h-full;
}





