@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-Custom';
  src: url('../font/pretendard.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paperlogy-Custom';
  src: url('../font/paperlogy.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cafe24Ohsquare-Custom';
  src: url('../font/ohsquare.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cafe24Supermagic-Custom';
  src: url('../font/supermagic.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cafe24SsurroundAir-Custom';
  src: url('../font/ssurroundAir.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HSSantokki-Custom';
  src: url('../font/HSSantokki.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BoardmarkerR-Custom';
  src: url('../font/BoardmarkerR.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BMEuljiro-Custom';
  src: url('../font/BMEULJIROTTF.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BMHannaPro-Custom';
  src: url('../font/BMHANNAPro.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

/*20230703*/
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background: #fff;
}

body, th, td, input, select, textarea, button {
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
} /* color값은 디자인가이드에 맞게사용 */
a {
  color: #495057;
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: underline;
}

address, caption, cite, code, dfn, /*em,*/ var {
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* 기본형 */
.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearfix {
  clear: both;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.tf_comm {
  display: inline-block;
  height: 30px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  color: #495057;
  background: #fdfdfd;
  line-height: 1.4;
  box-sizing: border-box;
}

.opt_comm {
  display: inline-block;
  height: 30px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  color: #495057;
  line-height: 1.4;
  box-sizing: border-box;
}

.btn_comm {
  display: inline-block;
  padding: 3px 8px;
  border: 1px solid #e6e6ea;
  border-radius: 3px;
  background: #fff;
  font-size: 13px;
  color: #495057;
  cursor: pointer;
  letter-spacing: -1px;
  box-sizing: border-box;
  vertical-align: baseline;
}
.btn_comm:hover, .btn_comm:focus {
  background: #e6e6e6;
  text-decoration: none;
}
.btn_comm--blue {
  border-color: #228be6;
  background: #228be6;
  color: #fff;
}
.btn_comm--blue:hover, .btn_comm--blue:focus {
  background: #1c7ed6;
}
.btn_comm--blueline {
  border: 1px solid #90bbdf;
  background: #fff;
  color: #1c7ed6;
}
.btn_comm--blueline:hover, .btn_comm--blueline:focus {
  border: 1px solid #4dabf7;
  background: #cfd9e0;
  color: #1c7ed6;
}
.btn_comm--bluelighten {
  border-color: #5fb5fc;
  background: #5fb5fc;
  color: #fff;
}
.btn_comm--bluelighten:hover, .btn_comm--bluelighten:focus {
  background: #459ee7;
}
.btn_comm--gray {
  border-color: #d1d1d6;
  background: #f0f4f7;
  color: #505050;
}
.btn_comm--gray:hover, .btn_comm--gray:focus {
  background: #cfd2d4;
}
.btn_comm--orange {
  border-color: #f7903c;
  background: #f7903c;
  color: #fff;
}
.btn_comm--orange:hover, .btn_comm--orange:focus {
  background: #eb893a;
}
.btn_comm--orangeline {
  border: 1px solid #f8cfae;
  background: #fff;
  color: #f77a14;
}
.btn_comm--orangeline:hover, .btn_comm--orangeline:focus {
  border: 1px solid #ffbf8b;
  background: #fff5ec;
  color: #f78629;
}
.btn_comm.small {
  margin: 0;
  padding: 2px 6px;
  font-size: 12px;
}

.hidden {
  display: none !important;
}

.text_gray {
  color: #aaa !important;
}

.text_red {
  color: #fa5252 !important;
}

.radio_comm {
  cursor: pointer;
}
.radio_comm + label {
  cursor: pointer;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_left {
  text-align: left !important;
}

.text_overflow {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tbl_comm {
  width: 100%;
  border-collapse: collapse;
}
.tbl_comm thead tr th {
  height: 36px;
  padding: 6px 10px;
  border: 1px solid #e9e9e9;
  background: rgba(0, 0, 0, 0.01);
  color: #495057;
}
.tbl_comm tbody tr td {
  height: 36px;
  padding: 6px 8px;
  border: 1px solid #e9e9e9;
}
.tbl_comm tbody tr th {
  border: 1px solid #e9e9e9;
  background: rgba(0, 0, 0, 0.01);
  color: #495057;
  font-weight: 400;
}
.tbl_comm--frame tbody tr td {
  border: none;
}
.tbl_comm--frame tbody tr th {
  border: none;
  background: none;
  text-align: right;
  color: #777;
}

.radio_group input[type=radio] {
  margin-right: 4px;
}
.radio_group label {
  margin-right: 15px;
  letter-spacing: -1px;
}
.radio_group label img {
  margin-right: 2px;
  margin-bottom: -2px;
}

.iconbtn {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 3px;
  vertical-align: middle;
}
.iconbtn > img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  opacity: 0.5;
}

.layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  background: #fff;
}
.layout__menu {
  position: fixed;
  top: 0;
  width: 925px;
}
.layout__page {
  position: fixed;
  top: 50px;
  bottom: 50px;
  overflow-y: scroll;
  width: 925px;
  background: #e9ecef;
  overflow-x: hidden;
}
.layout__page--bottom0 {
  bottom: 0;
}
.layout__sample {
  position: fixed;
  top: 0;
  left: 940px;
  bottom: 0;
  overflow-y: scroll;
  width: 360px;
}
.layout__footbox {
  position: fixed;
  bottom: 0;
  width: 925px;
}

.menubar {
  display: block;
  height: 50px;
  padding: 0 200px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.menubar:after {
  content: "";
  clear: both;
}
.menubar > li {
  display: block;
  float: left;
  width: 25%;
  border: 0;
}
.menubar > li.active a {
  border: 1px solid #ddd;
  color: #495057;
  font-weight: 700;
  background: #f1f3f5;
}
.menubar > li > a {
  display: block;
  margin-top: 7px;
  padding: 6px;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #868e96;
}
.menubar > li > a:hover {
  color: #495057;
  font-weight: 700;
}

.footergroup {
  display: block;
  height: 50px;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #fff;
  text-align: center;
}
.footergroup::after {
  content: "";
  clear: both;
}

.pagetitle {
  margin: 15px 15px 10px;
}
.pagetitle::after {
  content: "";
  clear: both;
}
.pagetitle__tit {
  font-size: 18px;
  font-weight: 600;
}
.pagetitle__btn {
  float: right;
}

.panel {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 10px 15px 30px;
  padding: 0 15px 15px;
  border: 1px solid #bbb;
  border-radius: 6px;
  background: #fff;
}
.panel::before {
  content: " ";
  display: table;
}
.panel::after {
  content: " ";
  display: table;
  clear: both;
}
.panel__header {
  margin: 0 -15px;
  padding: 10px;
  border-bottom: 1px solid #e9ecef;
}
.panel__body {
  margin: 0 -15px;
  padding: 10px;
}
.panel__hr {
  margin: 15px 0;
  border: 0;
  border-bottom: 1px dashed #e9ecef;
}
.panel__tit {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
}

.sample {
  background: #f7f7f7;
}
.sample__name {
  position: relative;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background: #21409a;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.sample__tel {
  display: block;
  width: calc(.25rem * 8);
  height: calc(.25rem * 8);
  padding: calc(.25rem * 1);
  background-color: #fafafa;
  border-radius: 3.40282e38px;
}
.sample__tit {
  padding: 10px;
  text-align: center;
  background: #ebf0f9;
  color: #000000;
}
.sample__tit > span {
  display: block;
  font-size: 20px;
}
.sample__tit > span + span {
  font-size: 18px;
}
.sample__banner {
  display: flex;
  min-height: 80px;
  text-align: center;
  background: #adb5bd;
  line-height: 0;
}
.sample__banner span {
  display: inline-block;
  margin-top: 25px;
  font-size: 20px;
}
.sample__banner img {
  width: 100%;
  height: 100%;
}
.sample__banner--type2 {
  background: #ced4da;
}
.sample__list {
  padding: 10px;
}
.sample__list li {
  display: block;
}
.sample__list--type2 {
  float: left;
  width: 50%;
}

.bannerbox {
  position: relative;
  display: inline-block;
  width: auto;
  height: 29px;
  margin-bottom: -3px;
  border: 1px solid #ddd;
  background: #ddd;
  vertical-align: bottom;
}
.bannerbox img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
}
.bannerbox .iconbtn {
  position: absolute;
  right: -30px;
}

.bgcolorbox {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: #999;
  vertical-align: bottom;
}




/* 코너관련 CSS 분리 */




.infobox {
  padding: 10px;
}
.infobox__tit {
  margin: 5px 0;
  font-weight: 600;
  color: #228be6;
}
.infobox__list {
  margin-top: 10px;
}
.infobox__list li {
  font-size: 13px;
  color: #868e96;
}

.pagination {
  display: block;
  margin: 15px auto;
  text-align: center;
}
.pagination__list {
  display: inline-block;
}
.pagination__list::before {
  content: " ";
  display: table;
}
.pagination__list::after {
  content: " ";
  display: table;
  clear: both;
}
.pagination__list > li {
  float: left;
}
.pagination__list > li.active a, .pagination__list > li .active {
  border-radius: 3px;
  font-weight: 600;
  color: #1c7ed6;
  background: #f1f3f5;
}
.pagination a {
  display: block;
  padding: 5px 10px;
  color: #868e96;
  text-align: center;
}

/*행사정보*/
.previewEtc1{
  text-decoration: none;
  color: #517dfb;
  font-weight: bold;
}



@media screen and (max-width: 767px) {
  /* Mobile */



  
  /* .goods__card {
    display: flex;
    flex-direction: column;
  }
  .goods__list--type2 li .goods__card {
    flex-direction: column;
  }
  .goods__list--style2 li .goods__card {
    flex-direction: row;
  }
  .goods__list--style2 li .goods__imgbox {
    float: none;
  }
  .goods__list--style2 li .goods__info {
    flex: 1;
    float: none;
  }
  .goods__list--style2 li .goods__name > span {
    text-align: left;
  }
  .goods__list--style2.even li:nth-child(even) .goods__card {
    flex-direction: row-reverse;
  }
  .goods__list--style2.even li.ie8_even .goods__card {
    flex-direction: row-reverse;
  }
  .goods__imgbox {display:flex; align-items:center; justify-content:center} */
  /*
  .goods__list--style3 li .goods__name {
    display: block;
    float: none;
    width: auto;
    max-width: 100%;
  }*/
  
}


/** 도움말 레이어창 **/
.help__linkimg { display: inline-block; width: 16px; height: 16px; /*background: url("../img/ico_help_blue.png") no-repeat;*/ vertical-align: top; margin-top:2.5px; }

.help__linkimg:hover .help__cont { display: block; }

.help__cont { display: none; position: absolute; margin: 19px 0; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; z-index: 10; }

.help__cont > dl > dt { font-size: 13px; font-weight: bold; color:#3d6cc2; }

.help__cont > dl > dd { font-size: 12px; color: #777; }

.help2__linkimg { display: inline-block; position: absolute; right: 0; width: 16px; height: 16px; margin-top: 3px; background: url("../img/ico_help.png") no-repeat; vertical-align: top; }

.help2__linkimg:hover .help2__cont { display: block; }

.help2__cont { display: none; position: absolute; width: 350px; margin: 19px 0; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; z-index: 10; }

.help2__cont > dl > dt { font-size: 13px; font-weight: bold; }

.help2__cont > dl > dd { font-size: 12px; color: #777; }

.spin {
  background: transparent !important;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.spin::before, .spin::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 10px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.spin::before {
  background: repeating-conic-gradient(from var(--aa), #FF9E80 0%, #FF9E80 5%, transparent 5%, transparent 40%, #FF9E80 50%) border-box;
  animation: spin1 4s linear infinite;
}

.spin::after {
  background: repeating-conic-gradient(from var(--aa), #80D0FF 0%, #80D0FF 5%, transparent 5%, transparent 40%, #80D0FF 50%) border-box;
  animation: spin1 2s linear infinite;
  animation-delay: -2s;
}

@property --aa {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes spin1 {
  0% { --aa: 0deg; }
  100% { --aa: 360deg; }
}
