@charset "utf-8";
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
/* @import url('http://meta-kage.kakaocdn.net/dn/osa/blog/assets/fonts/Kakao.css'); */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
* {
  -webkit-text-size-adjust: none;
}

::selection {
    background:#5559f5;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background:#FAE100;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background:#FAE100;
    color: #FFF;
    text-shadow: none;
}
/* 초기화 */
*{margin:0; padding:0;border:0 }
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
html, body {
  font-family:'Noto Sans KR', 'Spoqa Han Sans', 'kakao', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  height: 100%;
  margin: 0;
}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
a {
	color: inherit;
    text-decoration: none;
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
	vertical-align: middle;
}
*:focus {
    outline: none;
}

/************************* BASIC CSS *************************/

input, select {
    vertical-align: middle;
    background-color: #fff;
    height: 34px;
    padding: 0 10px;
    border-radius: none !important;
    border: 1px solid #dedede;
    outline: none;
	font-size: 13px;
}
input.dark, select.dark {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
}
input:focus {
    box-shadow: none !important;
    border: 1px solid #dedede !important;
}
textarea[readonly] {
    background-color: rgba(255,255,255,0.1);
    cursor: default;
}
select {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-repeat:no-repeat;
	background-position: right 10px center;
	background-size: 12px 12px;
	background-color: #fff;
	padding:0 30px 0 10px;
	font-weight: 400;
	color:#000;
	border:1px solid #dddfe3;
	border-radius:0;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	outline:0;
}
select::-ms-expand {display:none}/*for IE10,11*/
select.dark {
	background-image: url("/dhn/images/select-bg-dark.svg");
	color: #fff;
}
/* 체크박스 */
input[type="checkbox"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
input[type="checkbox"] + label { position:relative; display: inline-block; position: font-size: 13px; relative; padding-left: 25px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
input[type="checkbox"] + label:before { content: ''; position: absolute; left: 0px; top: 0px; width: 18px; height: 18px; text-align: center; background: #fff; border: 1px solid #e4e4e4;}
input[type="checkbox"]:checked + label:before { content: '\e876'; font-family: 'Material Icons'; font-size: 13px; font-weight: bold; line-height: 18px; color: #000; background: #ffdf2b; }

/* 라디오 버튼
input[type="radio"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
input[type="radio"] + label { display: inline-block; font-size: 13px; position: relative; padding-left: 25px; margin-right: 25px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; line-height: 34px;}
input[type="radio"] + label:before { content: ''; position: absolute; left: 0px; top: 8px; width: 18px; height: 18px; text-align: center; background: #fff; border: 1px solid #e4e4e4; border-radius: 100%;}
input[type="radio"]:checked + label:before { background: #fff; }
input[type="radio"]:checked + label:after { content: ''; position: absolute; top: 8px; left: 0px; width: 10px; height: 10px; border:5px solid #ffdf2b; border-radius: 100%;}
*/
label.file {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
label.file:before {
    content: "파일선택";
    float: right;
    height: 34px !important;
    padding: 0 15px;
    line-height: 34px;
    background-color: #666;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: -1px;
    border: 1px solid transparent;
}
label.file input {
    position: relative;
    display: none;
}
label.file:after {
    content: "선택된 파일이 없습니다.";
    display: block;
    line-height: 34px;
    background-color: #f0f1f3;
    padding: 0 15px;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid #d4d8e1;
    height: 34px;
}

.customer_list {
    padding: 15px;
    background: #fff;
}

.customer_list ul li {
	position: relative;
	font-size: 13px;
    font-weight: 400;
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f8f8f8;
}
textarea {
	border: 1px solid #dedede;
	resize: none;
	width: 100%;
	height: 100px;
	padding: 15px;
	font-size: 1em;
}
ion-icon {
	font-size: 32px;
  --ionicon-stroke-width: 16px;
}
button {
	cursor: pointer;
}

.mt-0 {margin-top: 0 !important;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-30 {margin-top: 30px !important;}

.mr-0 {margin-right: 0 !important;}
.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.mr-20 {margin-right: 20px !important;}
.mr-25 {margin-right: 25px !important;}
.mr-30 {margin-right: 30px !important;}

.mb-0 {margin-bottom: 0 !important;}
.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}

.ml-0 {margin-left: 0 !important;}
.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.ml-20 {margin-left: 20px !important;}
.ml-25 {margin-left: 25px !important;}
.ml-30 {margin-left: 30px !important;}

.pt-0 {padding-top: 0 !important;}
.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}

.pr-0 {padding-right: 0 !important;}
.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}
.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}

.pb-0 {padding-bottom: 0 !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}

.pl-0 {padding-left: 0 !important;}
.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}

span.required{color:#e25856}

/* 모바일 */
@media (max-width:480px) {
  .btn_tr{margin:0 !important; }
  .helpu_link, .terms_link{display: none;}
}

.pass_visible{color:#f00; margin-left:10px;}

.btn_st_small{padding:5px; background-color: #fff; border:solid 1px #ddd; font-size:12px;}

.btn_search1{background-color: #404040; color:#fff; padding:0 30px; height:34px !important; vertical-align: middle;}

.btn_al_cen{width: 100%; text-align: center; margin-top:30px; clear: left;}

.blackline{border:solid 1px #404040 !important;}

.essential{color:#f00; font-size: 20px;}
.fc_red{color:#f00; font-size: 15px;}

.form-group.row{border-bottom:solid 1px #ddd !important; text-align: left; padding:0 0 20px 0;}
.form-group.row label{border-right:solid 1px #ddd !important;text-align: left;}

.btn {
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    border:1px solid #dedede;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding:0 10px;
}
.btn.md {
    min-width: 80px;
    height: 34px;
    font-size: 12px;
}
.btn.dark {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    border: none;
    font-size: 12px;
}
.btn.dark:hover {
	background-color: rgba(51, 51, 51, 1);
}
.btn.excel:before {
    content: "\f1c3";
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    color: #08743b;
    margin-right: 10px;
}
/*.genie_wrap {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}*/
.genie_wrap {
	width: 100%;
}
.header {
	display: flex;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.header .logo {
	width: 115px;
	text-align: center;
}
.header .logo img {
	margin-top:15px;
}
.header .logo h1 {
	font-size: 12px;
	line-height: 1.5;
	color: #666;
	font-weight: 300;
}
.header .center {
	flex: 1;
	text-align:center;
}
.header .right {
  text-align: right;
  padding-right:25px;
}
.btn_voucher{border:solid 1px #ddd; padding:5px 10px; border-radius:20px; margin:0 20px 0 5px;}
.btn_voucher .material-icons{font-size: 15px;}
.btn_calendar{border:solid 1px #ddd; padding:5px 10px; border-radius:20px;}
.btn_calendar .material-icons{font-size: 15px;}
.btn_voucher:hover, .btn_calendar:hover{border:solid 1px #404040;}

@media (max-width:1200px) {
  .btn_voucher, .btn_calendar{display: none;}
}

.header .right ul{
  padding-left:20px;
}
.header .right ul.top_menu li {
	position: relative;
	float:left;
	margin-left: 20px;
}
.header .right ul.top_menu li a {

}

.notifications{
	position: relative;
	cursor:pointer;
}
.notifications-menu{
	position: absolute;
	top: 120%;
	right: 0;
	z-index: 9999;
	display: none;
	width: 320px;
	color: #fff;
	background: rgba(0,0,0,0.8);
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	-moz-background-clip: padding;
	border-radius: 3px;
	background-clip: padding-box;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05);
	box-shadow: 0 1px 3px rgba(0,0,0,.05);
	padding: 15px;
}
.notifications-list {display: block;overflow: hidden;}
.notifications-list a:link{color: #060606;}
.notifications-list a:active, .notifications-list a:hover {text-decoration:underline;}

.notifications-menu .external { background-color: #FFF; display: block; }
.notifications-menu .external a { background-color: #fff; color: #e9423f;}
.notifications-list .point{ color:#ec5956 !important;  text-align: center; }
.notifications-list span{ font-size: 11px; }



.header .name {
	margin-right: 10px;
}
/*.genie_container {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex: 1;
}*/
.genie_container{width:100%; background: url(/images/body_bg2.jpg) bottom left repeat-y; display: inline-block;}
footer {
	padding: 25px 30px 25px 0;
  color: #404040;
	text-align:right;
  clear: left;
  width:100%;
  position: relative;
  background-color: #fff;
}
footer .footer_copy{margin:10px 0 0 0; opacity: 0.5;}
footer .footer_menu {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
footer .footer_menu li {
	float: left;
    color: #666;
    font-size: 12px;
    padding-right: 10px;
}
footer .footer_menu li:after {
	content: '';
	display: inline-block;
	background:#ddd;
	width: 1px;
	height: 14px;
	vertical-align: middle;
	margin-left: 10px;
}
footer .footer_info {
	font-size: 12px;
  opacity: 0.7;
}
footer .footer_info .address {

}
footer .footer_info .copyright {

}

/* Submenu */
.submenu {
	display: none;
}
.submenu > li:first-of-type {
	margin-top: 15px;
}
.submenu a {
	font-size: 14px;
	padding: 8px 15px;
	display: block;
	transition: all .1s cubic-bezier(0.23, 1, 0.32, 1);
}
.submenu a:hover {
	padding-left: 15px;
	background: rgba(255,255,255,0.05);
	border-radius: 50px;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
}
.submenu a:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 3px;
	border-radius: 6px;
	background: #fff;
	vertical-align: middle;
	margin-right: 7px;
	opacity: 0;
	transform: translateX(-20px);
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.submenu a:hover:before {
	transform: translateX(0);
	opacity: 1;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* 컨텐츠 영역 레이아웃 */
/*.genie_container .contents_wrap {
	flex: 1;
	position: relative;
	background-color: #f2f2f2;
}*/
.genie_container .contents_wrap{
  float: left; width:calc(100% - 240px);
  height:100%;
  position: relative;
	background-color: #f2f2f2;
}
.genie_container .contents_wrap .contents {
	flex: 1;
	padding: 25px;
}
.tm_today {
  font-family:'Spoqa Han Sans';
	display: inline-block;
	font-size: 18px;
	font-weight: 900;
  margin-right:15px;
}
.btn_admiin_change{margin:15px 15px 0 0; line-height:30px; height:30px; float: right; display: inline-block; background-color: #404040; color:#fff; padding:0 15px; border-radius:30px;}
.mobile_logout .btn_admiin_change{background-color: #fff; color:#000; vertical-align:top; margin-top:-4px;}
.mobile_logout a{vertical-align:top;}
.main_top {
	background: #fff;
	padding: 12px 25px;
	border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.notice_bar {
	display: flex;
	font-size: 16px;
}
.notice_bar .title {
	font-weight: 900;
	line-height: 18px;
	margin-right: 10px;
}
.notice_bar .title:before {
	content: '\e7f7';
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 20px;
	font-weight: normal;
	vertical-align: middle;
	margin-right: 3px;
}
.notice_bar .title:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 18px;
	vertical-align: middle;
	padding-right: 15px;
	border-right: 1px solid #dedede;
}
.notice_bar > .notice_text {
	flex: 1;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.select_bar {
	display: inline-block;
}
.select_bar ul {
	background-color: #ddd;
	border-radius: 30px;
	padding: 2px;
}
.select_bar ul li {
	display: inline-block;
	padding: 3px 20px;
	font-size: 12px;
	border-radius: 30px;
}
.select_bar ul li.selected {
	color: #fff;
	background-color: rgba(113,59,219,0.8);
}
.section_top {
	padding: 15px;
	border-bottom: 1px solid #dedede;
	text-align: center;
	background: #fff;
	white-space: nowrap;
}
.contents > .title {
	margin-top: 20px;
}
.contents > .title.desc {
	min-height: 200px;
}
.contents > .title h2 {
    font-size: 38px;
    color: #111;
  text-align: center;
}
.contents > .title p {
	font-size: 16px;
	font-weight: 400;
    color: rgba(52, 61, 72, 0.8);
    line-height: 1.75;
    width: 40%;
    margin-bottom: 25px;
    word-break: keep-all;
}
.contents .section {
	display: flex;
	margin: 0 auto 50px;
	width: 1000px;
}
.contents .section > .left {

}
.contents .section > .right {
	flex: 1;
	margin-left: 50px;
}

.box_wrap {

}
.box {
	width: 100%;
	padding: 25px;
	background: #fff;
	color: #222;
	border-radius: 30px;
	margin-bottom: 25px;
	/*box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.15);*/
}
.box.dark {
	background: #3b4457;
	color: #fff;
}
/*
.box:hover {
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
}
*/

.box.notice {
	background-color: rgba(51,51,51,0.1);
	box-shadow: none;
	color: #333;
	border-radius: 10px;
}
.box.notice > h4 {
	margin-bottom: 10px;
}
.box.notice ul li {
	list-style-type : disc;
	margin-left: 20px;
	line-height: 1.75;
}

.box > .box_title {
	font-size: 18px;
	font-weight: 700;
	color: #222;
	margin-bottom: 15px;
}
.box > .box_title h3 {

}

.box > .box_contents {

}
.box > .box_bottom {

}
.list_type {
	position: relative;
    padding: 10px 0 10px 150px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;
    min-height: 60px;
}
.list_type:first-child {
	padding-top: 0;
	min-height: 45px;
}
.list_type:first-child > .tit {
    top: 5px;
}
.list_type > .tit {
    position: absolute;
    left: 15px;
    top: 20px;
    color: #666;
}


/* 공통 적용 클래스 */
.flex {
	display: flex;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.width_800 {
	max-width: 800px;
	margin: 0 auto;
}
.width_900 {
	max-width: 900px;
	margin: 0 auto;
}
.width_1000 {
	max-width: 1000px;
	margin: 0 auto;
}
.width_1100 {
	max-width: 1100px;
	margin: 0 auto;
}
.width_1200 {
	max-width: 1200px;
	margin: 0 auto;
}
.width_1300 {
	max-width: 1300px;
	margin: 0 auto;
}
.width_1400 {
	max-width: 1400px;
	margin: 0 auto;
}
.material-icons {
	vertical-align: middle;
	margin-top: -3px;
}
.divider {
    overflow: hidden;
    text-align: center;
    margin: 15px 0;
    font-size: 12px;
}
.divider:before, .divider:after {
    background: rgba(0,0,0,0.15);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.divider:before {
    right: 1em;
    margin-left: -50%;
}
.divider:after {
    left: 1em;
    margin-right: -50%;
}

[tooltip-text]:hover {
	position: relative;
}
[tooltip-text]:hover:after {
	background-color: rgba(0, 0, 0, 0.8);

	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	color: #FFFFFF;
	font-size: 11px;
	content: attr(tooltip-text);

	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	word-wrap: break-word;
	white-space: nowrap;
	padding: 10px 20px;
	line-height: 1;
	z-index: 9999;
}
[tooltip-text]:hover:before {
	content: '';
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translateX(-50%);
	width: 0px;
	height: 0px;
	border-top: 0 solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

/************************* INDEX CSS *************************/



/************************* LOGIN CSS *************************/



/************************* MAIN CSS *************************/



/************************* CONTENT CSS *************************/
ul.send_type {
	display: block;
}
ul.send_type li {
	display: inline-block;
	text-align: center;
	position: relative;
	font-size: 14px;
	margin-right:25px;
	padding: 10px 20px;
	border-radius: 10px;
}
ul.send_type li:last-of-type {
	margin-right: 0;
}
ul.send_type li.selected {
	box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.1);
	color: #fff;
	background: linear-gradient(90deg, #7842ff, #526dea);
	border: 0px solid rgba(255,255,255,.5);
}
ul.send_type li.selected:before {
	background-color: transparent !important;
}
ul.send_type li:hover {
	box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.1);
	cursor: pointer;
}

ul.send_type li:before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	color: #000;
	font-weight: 900;
	vertical-align: middle;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center center;
}
ul.send_type li.alim:before {
	background-image: url('../images/icon/type_alim.png');
	background-color: #fae100;
}
ul.send_type li.friend:before {
	background-image: url('../images/icon/type_friend.png');
	background-color: #fae100;
}
ul.send_type li.friend_w:before {
	background-image: url('../images/icon/type_friend.png');
	background-color: #fae100;
}

ul.send_type li.sms:before {
	background-image: url('../images/icon/type_sms.png');
	background-color: #1689fc;
}
ul.send_type li.lms:before {
	background-image: url('../images/icon/type_lms.png');
	background-color: #1689fc;
}
ul.send_type li.ums:before {
	background-image: url('../images/icon/type_ums.png');
	background-color: #1689fc;
}
ul.send_type li.pms:before {
	background-image: url('../images/icon/type_pms.png');
	background-color: #1689fc;
}
ul.send_type li.temp_public:before {
	background-image: url('../images/icon/type_ums.png');
	background-color: #fae100;
}
ul.send_type li.temp_personal:before {
	background-image: url('../images/icon/type_pms.png');
	background-color: #1689fc;
}

.temp_card_wrap {
	display: flex;
	padding: 25px;
	background: #abc1d1;
	flex-wrap: wrap;
}
.temp_card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 280px;
	min-height:;
	margin: 25px;
	background: #fff;
	border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.temp_card:hover:after {
	content: '\e163';
	font-family: 'Material Icons';
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 64px;
	font-weight: 900;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
}
.temp_card .temp_card_top {
	background: #fae100;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-radius: 5px 5px 0 0;
}
.temp_card .temp_card_top.alim:before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/icon/type_alim.png)no-repeat center center;
	background-size: 18px;
	vertical-align: middle;
	margin-right: 5px;
}
.temp_card .temp_card_contents {
	flex: 1;
	padding: 15px;
}
.temp_card .temp_card_bottom {
	border-top: 1px solid #dedede;
	padding: 15px;
}
.icon_circle {
	background: #3c1e1e;
	color: #fae100;
    width: 47px;
    height: 47px;
    border-radius: 100%;
    line-height: 47px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 10;
}


@media screen and (max-width: 768px) {
	.main_top {
		display: none;
	}
	ul.send_type li {
		margin-right: 10px;
	}


}


/************************* MOBILE CSS *************************/
.hamburger-menu  {
	display: none;
}
.mobile-nav {
	display: none;
}
@media screen and (max-width: 768px) {
	.genie_container .contents_wrap .contents {
		padding: 0;
		margin-top: 50px;
	}
	.header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 998;
		background: #fff;
	}
	.header .center, .header .right {
		display: none;
	}

.header .logo {
	width: 100px;
}

.header .logo h1 {
	font-size: 12px;
	line-height: 1.5;
	color: #666;
	font-weight: 300;
}

	.genie_container .snb {
		display: none;
	}
	.contents {
		width: 100%;
	}
	.main_top {
		font-size: 1rem;
	}
	.main_top .select_bar {
		display: none;
	}

	.main_card_list .card {
		width: 100% !important;
		margin: 0 0 25px 0 !important;
	}
	.contents {
		width: 100% !important;
	}
	.contents .section {
		flex-direction: column;
	}
	.contents .section > .right {
		margin-top: 25px;
		margin-left: 0;
	}
	.contents > .title p {
		display: none;
	}
	/*hamburger menu*/
	.hamburger-menu {
		display: inline-block;
		z-index:998;
		position: absolute;
		top: 20px;
		right: 15px;
		width: 24px;
		height: 16px;
		cursor: pointer;
	}
  .openbtn{display: none;}
	.bar,
	.bar:after,
	.bar:before {
		width: 24px;
		height: 2px;
	}
	.bar {
		position: relative;
		transform: translateY(10px);
		background:#333;
		transition: all 0ms 300ms;
	}
	.bar.animate {
	 	background: transparent;
	}
	.bar:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 8px;
		background: #333;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.bar:after {
		content: "";
		position: absolute;
		left: 0;
		top: 8px;
		background: #333;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.bar.animate:after {
		background: #fff;
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
	}
	.bar.animate:before {
		background: #fff;
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
	}

	/*nav menu*/
	.mobile-nav.show {
		transform: translateX(-100%);
		transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	.mobile-nav {
		display: block;
		background:#fff;
		position:fixed;
		top:0;
		width:90%;
		height:100%;
		transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
		z-index: 1000;
		left:100%;
		overflow-y: auto;
	}
	.mobile-nav .menu_top {
		display: block;
		overflow: hidden;
		font-size: 15px;
		padding-left:25px;
		height: 60px;
		line-height: 60px;
		color: #fff;
		font-weight: 900;
		white-space: nowrap;
		background: #494949;
		border-bottom: 1px solid #595959;
	}
	.backdrop {
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 999;
	    background-color: #000;
	    opacity: 0;
	    transition: opacity .35s cubic-bezier(.645,.045,.355,1);
	    display: none;
	}
	 .backdrop.visible {
		opacity: .5;
		display: block;
	}
	.menu_dashboard {
		background: linear-gradient(0deg,#be68d5,#281aac);
		margin: 15px;
		color: #fff;
	}
	.mobile-nav .m_menu {
		margin-bottom: 50px;
	}
	.mobile-nav .m_menu ul li {
		font-size: 14px;
	    border-bottom: 1px solid #ddd;
	    padding: 15px 20px;
	    cursor: pointer;
	    line-height: 100%;
	}
	.mobile-nav .m_menu ul li:first-of-type {
		border-top: 1px solid #dedede;
	}
	.mobile-nav .m_menu ul li .material-icons {
		margin-right: 10px;
	}
	.mobile-nav .m_menu .m_line {
		width: 100%;
		height: 10px;
		background: #ddd;
		box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
	}
	.section_top {
		position: relative;
		width: 100%;
		padding: 0;
	}
	.send_type_wrap {
		position: relative;
		white-space:nowrap;
	    overflow-x: auto;
	    padding: 15px;
	}
	.section_top:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 100%;
		z-index: 1;
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, .15), transparent);
        background: linear-gradient(to right, rgba(0, 0, 0, .15), transparent);
	}
	.section_top:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 100%;
		z-index: 1;
        background: -webkit-linear-gradient(right, rgba(0, 0, 0, .15), transparent);
        background: linear-gradient(to left, rgba(0, 0, 0, .15), transparent);
	}
	.list_type {
		padding: 0;
	}
	.list_type > .tit {

	}

	ul.send_type {
		display: block;
	}
	ul.send_type li {
		display: inline-block;
		text-align: center;
		position: relative;
		font-size: 14px;
		margin-right:5px;
		padding: 10px 20px;
		border-radius: 10px;
	}
	ul.send_type li.selected {
		background: #dedede;
		box-shadow: none !important;
	}
	ul.send_type li:hover {
		box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.1);
		cursor: pointer;
	}
	ul.send_type li:before {
		content: '';
		display: block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		margin: 0 auto;
		border-radius: 50px;
		color: #000;
		font-weight: 900;
		margin-bottom: 5px;
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: center center;
	}
	ul.send_type li.alim:before {
		background-image: url('../images/icon/type_alim.png');
		background-color: #fae100;

	}
	ul.send_type li.friend:before {
		background-image: url('../images/icon/type_friend.png');
		background-color: #fae100;
	}
	ul.send_type li.friend_w:before {
		background-image: url('../images/icon/type_friend.png');
		background-color: #fae100;
	}

	ul.send_type li.sms:before {
		background-image: url('../images/icon/type_sms.png');
		background-color: #1689fc;
	}
	ul.send_type li.lms:before {
		background-image: url('../images/icon/type_lms.png');
		background-color: #1689fc;
	}
	ul.send_type li.ums:before {
		background-image: url('../images/icon/type_ums.png');
		background-color: #1689fc;
	}
	ul.send_type li.pms:before {
		background-image: url('../images/icon/type_pms.png');
		background-color: #1689fc;
	}
	footer {
		padding: 25px 0 50px;
	    color: #434343;
		text-align: center;
	}
	footer .footer_menu {
		display: inline-block;
		text-align: center;
		margin-bottom: 20px;
	}
	footer .footer_menu li {
		float: left;
	    color: #666;
	    font-size: 12px;
	    padding-right: 10px;
	}
	footer .footer_menu li:after {
		content: '';
		display: inline-block;
		background:#ddd;
		width: 1px;
		height: 14px;
		vertical-align: middle;
		margin-left: 10px;
	}
	footer .footer_info {
		color: #666;
		font-size: 12px;
		text-align: left;
		margin: 25px 50px;
		word-break: keep-all;
	}
	footer .footer_info span {
		display: block;
		word-break: keep-all;
	}

}

#snackbar {
  visibility: hidden;
  width:300px;
  margin-left: -150px;
	border-radius:10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  z-index: 10001;
  left: 50%;
  top: 40%;
  font-size: 15px;
	opacity: 0.8;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 40%; opacity: 0;}
  to {top: 40%; opacity: 0.8;}
}

@keyframes fadein {
  from {top: 40%; opacity: 0;}
  to {top: 40%; opacity: 0.8;}
}

@-webkit-keyframes fadeout {
  from {top: 40%; opacity: 0.8;}
  to {top: 40%; opacity: 0;}
}

@keyframes fadeout {
  from {top: 40%; opacity: 0.8;}
  to {top: 40%; opacity: 0;}
}

/*페이징*/
.page_cen{text-align:center; margin-top: 50px; position: relative; clear: left; width:100%;}
.pagination {display:inline-block;}
.pagination li{float:left; margin:0 3px;}
.pagination a{border-radius:100px; display:inline-block; width:49px; height:49px; vertical-align:top; line-height:49px; text-align:center; font-size: 20px; font-weight: 500; letter-spacing: -0.25px; cursor:pointer; }
.pagination .active{background: #ccc; color: #fff;border-radius:100px;}
.pagination a:hover {background: #ccc; color: #fff;}

/* 모바일 */
@media (max-width:480px) {
  .send_menu .sm_on{border-top:none !important; background-color:#281aac; color:#fff;}
  .send_menu li{width:50%; float:left; border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
  .send_menu li:nth-child(2), .send_menu li:nth-child(4), .send_menu li:nth-child(6){border-right:none;}
  .send_menu li a{padding:10px 0; font-size:15px; text-align: center; }
  .guide_box{display: none;}
  .mobile_none{display: none;}
  .btn_add_home{border: solid 1px #ddd; padding:10px 0; margin:15px; border-radius: 5px; text-align: center; background-color: #f1f1f1;}

  /* The Modal (background) */
  .pf_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top:20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .pf_modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width:90%;
  	z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .pf_modal_close {
    color: white;
    float: right;
    font-size: 34px;
  	line-height:16px;
    font-weight: bold;
  }

  .pf_modal_close:hover,
  .pf_modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .pf_modal-header {
    padding: 20px;
    background-color: #0067d0;
    color: white;
  }
  .pf_modal-header h2{font-size: 16px;}
  .pf_modal-body {padding: 20px;}
  .pf_modal-body p{margin-bottom:10px;}
  .pf_modal-body p img{width:100%;}
  .pf_modal-footer {
    padding: 2px 16px;
    background-color: #404040;
    color: white;
  }

}

.mg_t10{margin-top:10px;}
.mg_t15{margin-top:15px;}
.mg_t20{margin-top:20px;}
.mg_t30{margin-top:30px;}
.mg_t40{margin-top:40px;}
.mg_t50{margin-top:50px;}
.mg_b20{margin-bottom:20px;}
.mg_b50{margin-bottom:50px;}
.mg_r40{margin-right:40px;}
.mg_r50{margin-right:50px;}
.mg_l5{margin-left:5px;}
.mg_l10{margin-left:10px;}
.mg_l50{margin-left:50px;}

/* Checkbox */
/* The container */
.checkbox_container {
  position: relative;
  width:100%;
  display:inline-block;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox_container .checkmark {
  position: absolute;
  top:calc(50% - 15px);
  left: calc(50% - 10px);
  width: 20px;
  height:20px;
  background-color: #f1f1f1;
  border:solid 1px #ddd;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*스마트전단 미리보기*/
.wrap_smart{width:100%;}
.smart_header{width:100%; height:55px; background-color: #fff; padding:15px 20px 0 20px; display: inline-block; position: fixed; top:0; z-index:9999;}
.smart_header.fix_none{position: relative;}
.smart_header .logo{float:left; width:40%; display:inline-block; cursor: pointer;}
.smart_header .logo img{width:70%; max-width:100px; }
.smart_header .logo2{position: absolute; top:13px; left:5%; width:14%; display:inline-block; cursor: pointer;}
.smart_header .logo2 img{width:100%; max-width:60px; }
.smart_header .logo3{position: absolute; top:13px; left:5%; width:100px; display:inline-block; cursor: pointer;}
.smart_header .logo3 img{width:100%;}
.smart_header .smart_home{float:left; width:7%; margin:2px 6px 0 0; cursor:pointer; vertical-align: middle; line-height:100%;}
.smart_header .smart_home img{width:100%;}
.smart_header .smart_home2{float:right; width:7%; margin:2px 0 0 0; cursor:pointer; vertical-align: middle; line-height:100%;}
.smart_header .smart_home2 img{width:100%;}
.smart_home3{position:fixed; background: rgb(190, 104, 213); border-radius: 50%; bottom:20px; right:20px; width: 10%; padding:10px; cursor:pointer; vertical-align: middle; line-height:100%;}
.smart_home3 img{width:100%;}
.smart_home .material-icons{font-size:33px; color:#404040;}
.smart_header .header_txt{float:right; letter-spacing:-0.05em; margin-top:5px; width:50%; text-align:right; display: inline-block; font-size:14px; opacity: 0.5;}
.smart_top{width:100%; height:300px; display: inline-block; text-align:center;}
.mart_name{margin-top:250px; letter-spacing:-0.05em; padding-top:5px; background-color: #000; opacity: 0.5; height:50px; color:#fff; line-height:150%; font-size:24px;}
.smart_info{padding:20px 20px 10px 20px;; box-sizing: border-box; width:100%; font-size: 16px; opacity: 0.5;}
.smart_con{width:100%; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd;}
.smart_bot{width:100%;}
.smart_bot ul{margin:0 0 20px 0;}
.smart_bot ul li{width:calc(100% - 40px); margin:0 20px; border-bottom:dotted #ddd 1px; padding:10px 0;font-size: 16px;}
.smart_bot ul li .material-icons{font-size:20px;}
.smart_map{width:100%;}
.smart_map_place{margin:10px 0 15px; font-size:16px;}
.smart_footer{width:100%; padding:10px 20px; text-align: center; background-color: #f1f1f1;}
.smart_footer p{opacity: 0.5;}

.mobile_logout{position: absolute; top:20px; right:50px; color:#fff;}

.btn_guide{font-size:15px; background-color: #fff; padding:5px 15px; margin:25px 0 0 450px; border-radius:20px; line-height: 1.5; border:solid 1px #404040;}
@media (max-width: 480px){
  .btn_guide{display: none;}
  .btn_view_list{display: none;}
}

.pf_shop{margin: 0 25px 15px 25px !important; font-size: 16px;font-weight: 400; border:solid 1px #fff; background: #; color: #fff;	border-radius: 5px;text-align: center;padding: 10px;margin-bottom: 15px;}
.pf_shop_m{margin: 0 15px 15px 15px !important; font-size: 16px;font-weight: 400; background: #fff; border:solid 1px #281aac; color: #281aac;	border-radius: 5px;text-align: center;padding:7px 0;margin-bottom: 15px;}

/*
.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
	border:1px solid rgba(255,255,255,0.1);
	background:rgba(255,255,255,0.05);
	padding: 7px 15px;
	margin-top: 15px;
	color: #fff;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding:10px 0;
    text-align: center;
  }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dotted #fff;
  }
    .tabs [class^="tab"] [type="radio"]:hover,
    .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #ffdf2b;
      }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 1px solid #ffdf2b;
      }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 0.8; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding:10px 0 0 0;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }
    .tabs input{height:1px; width:50%; border:none; opacity:1;}
    .tab-2 dl dt{width:50%; float:left;}
    .tab-2 dl dd{width:50%; float:left; text-align: right;}

*/


    .tabbed {

    }

    .tabbed > input {
      display: none;
    }

    .tabbed > label {
      display: block;
      float: left;
      padding: 12px 20px;
      margin-right: 5px;
      cursor: pointer;
      transition: background-color .3s;
    }

    .tabbed > label:hover,
    .tabbed > input:checked + label {
      background: #4EC6DE;
    }

    .tabs {
      clear: both;
      perspective:100%;
    }

    .tabs > div {
      width: 50%;
      position: absolute;
      border: 2px solid #4EC6DE;
      padding: 10px 30px 40px;
      line-height: 1.4em;
      opacity: 0;
      transform: rotateX(-20deg);
      transform-origin: top center;
      transition: opacity .3s, transform 1s;
      z-index: 0;
    }

    #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
    #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
    #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
    #tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
      transform: rotateX(0);
      opacity: 1;
      z-index: 1;
    }

    .tab_menu {width:100%; overflow:hidden;}
    .tab_menu ul {border-bottom:1px solid #aaa; height:29px;}
    .tab_menu li {width:50%; float:left; display:block; height:29px; text-align:center; position:relative;}
    .tab_menu li span {display:block; border:1px solid #ddd; border-bottom:0; left:0; top:0; width:80px; height:20px; padding-top:8px; position:absolute; cursor:pointer;}
    .tab_menu li.on span {font-weight:bold; padding-bottom:1px; border:1px solid #aaa; border-bottom:0; width:80px; background:#fff;}
    .tab_menu div {display:none; clear:both; padding:20px; width:100% ; border:1px solid #aaa; border-top:0;}

.t_slogan{display:inline-block; font-size: 20px;}
.t_slogan span{color:#;}

.guide_link{position: absolute; top:35px; left:30px; font-size: 15px; border:solid 1px #404040; padding:10px 15px; border-radius: 5px; background-color: #fff;}
.helpu_link{position: absolute; top:35px; left:160px; font-size: 15px; border:solid 1px #404040; padding:10px 15px; border-radius: 5px; background-color: #fff;}
.terms_link{position: absolute; top:35px; left:275px; font-size: 15px; border:solid 1px #404040; padding:10px 15px; border-radius: 5px; background-color: #fff;}

.fc_blue{color:#0075ff;}

.order_count{font-family: 'Spoqa Han Sans'; margin:-3px 0 0 5px; border-radius: 50px; line-height: 25px; text-align: center; display: inline-block; width:25px; height:25px; color:#281aac; font-size: 12px !important; background-color:#fff; }
.accordion > li.open .link .order_count{background-color:#281aac ; color:#fff;}

#layer{z-index: 10000 !important;}
.fs18{font-size: 18px;}

.modal_voucher{font-size: 18px; margin-top: 50px; line-height: 180%;}


/* 결제하기 실패시 */
.payresult_wrong{width:300px; padding:30px 20px; text-align:center; position:fixed; font-size: 16px; background:#2A1BAD;}
.payresult_wrong .payresult{position:relative; justify-content:center; flex-wrap:nowrap; min-height:200px; margin:0; padding:20px 30px; background:#fff; /*font-size:19px;*/ font-size:16px; color:#333; border-radius:10px;}
.payresult_wrong .payresult span,
.payresult_wrong .payresult button{display:block; margin:8px 0;}
.payresult_wrong .payresult span.payresult_text{margin-bottom:15px; padding-bottom:5px; font-size:24px; font-weight:500; color:#111; border-bottom:1px solid #ddd; }
.payresult_wrong .payresult span.payresult_text em{font-size:28px; font-weight:700; font-style:normal; color:#B80D2D;}
.payresult_wrong .payresult span.payresult_date{color:#2A1BAD;}
.payresult_wrong .payresult button{margin:15px auto; padding:8px 40px; font-size:16px; font-weight:600;  border:0; border-radius:10px;}
.payresult_wrong .payresult button:hover{color:#fff; background-color:#B80D2D;}

/* 회원가입 */
.smart_con:has(main.wrap_nfc_field) .fix_bar {
    display: none;
}
main.wrap_nfc_field {
	display: flex;
	flex-direction: column;
	flex: unset;
	gap: 0.5em;
    width: 100%;
    height: auto;
    margin:5px auto;
    padding:20px;
    font-size: 14px;
    text-align: center;
}

.nfc_field {
    --nfc_field_type-width:95px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.nfc_field_type{
    width:var(--nfc_field_type-width);
    text-align: left;
}
.nfc_field select#flag,
.nfc_field input{
    width:calc(100% - var(--nfc_field_type-width));
}
.nfc_field button{
    width: 80px;
    line-height: 32px;
    margin-left:3px;
    border:1px solid #ccc;
    border-radius: 2px;
}
.nfc_field:has(button) input{
    width:calc(100% - var(--nfc_field_type-width) - 83px);
}

main.wrap_nfc_field > div:not(.nfc_field){
    line-height: 30px;
    margin:20px 0 0;
    padding:15px 0;
    border-top:1px dotted #ddd;
    /* border-bottom:1px dotted #ddd; */
}
main.wrap_nfc_field .checkbox_container {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}
main.wrap_nfc_field .checkbox_container .checkmark:after {
	top: 0.2em;
	left: 0.4em;
    width: 0.5em;
    height: 0.7em;
	border-width: 0 0.2em 0.2em 0;
}
main.wrap_nfc_field .checkbox_container  input.btn_view{
    position: inherit;
    opacity: 1;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-left:5px;
    padding: 3px 6px;
    background-color: #f5f5f5;
}
main.wrap_nfc_field .checkbox_container .checkmark {
	position: relative;
	top: unset;
	left: unset;
	width: 1.5em;
	height: 1.5em;
	margin: 0.25em 0.3em 0 0;
    border-radius: 0;
}

main.wrap_nfc_field .required_agree {
  margin: 0 0.25em;
}
main.wrap_nfc_field > div.wrap_btns{
    margin-top:-5px;
}
main.wrap_nfc_field.wrap_login > div.wrap_btns{
    margin-top:20px;
}
main.wrap_nfc_field > div.wrap_btns > input[type="button"]:first-child{
    background-color: #eee;
}
main.wrap_nfc_field > div.layer_search_address{
    display:none;position:fixed;z-index:1;-webkit-overflow-scrolling:touch;
    padding:0;
}
main.wrap_nfc_field .layer_search_address img{
    cursor:pointer;position:absolute;right:-3px;top:-41px;z-index:1;
    width: 40px;
    border-radius: 3px;
}
.smart_con:has(main.wrap_nfc_field) h4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top:60px;
    padding:15px 0;
    font-size:2.5rem;
    font-weight: 600;
}
.smart_con:has(main.wrap_nfc_field) h4 em{
    font-style: normal;
    font-size:1.5rem;
    color:#333;
}
.smart_con:has(main.wrap_nfc_field) h4 img{
    max-width: 100px;
}
.smart_con:has(main.wrap_nfc_field) h4 img:first-child{
    max-width: 120px;
    /* margin-right:10px; */
    font-size: 13px;
}
.smart_con:has(main.wrap_nfc_field) h5{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom:5px; */
    padding:7px 0 8px;
    font-size:22px;
    color:#333;
    font-weight: 600;
    background-color: #eee;
}


/* main.wrap_nfc_field #touchGuideBox p {
    font-size: 10px;
} */

/*
#submit_btn {
    width: 40%;
    height: auto;
    margin:0 auto;
    padding:10px 0;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color:#fff;
    background-color: #333;
    border-radius: 5px !important;
    cursor: pointer;
}
#submit_btn:not(:disabled):hover {
    background-color: #777;
}

.confirm_wrap{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    padding:20px;
    text-align: center;
    background-color: #fff;
}
.confirm_wrap pre{
    width:100%;
    height:80%;
    margin:5% auto 0;
    padding:15px;
    font-size: 12px;
    text-align: left;
    white-space: pre-wrap;
    border:1px solid #eee;
    overflow-y: auto;
}
.confirm_wrap.confirm2 pre:nth-of-type(1){
    height:45%;
    margin:5% auto 0;
}
.confirm_wrap.confirm2 pre:nth-of-type(2){
    height:30%;
    margin:5% auto 0;
}
.confirm_wrap button{
    width: 40%;
    height: auto;
    margin:5% auto 0;
    padding: 10px 0;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #fff;
    background-color: #333;
    border-radius: 5px !important;
}

.delete_btn {
  font-size: 2rem;
  font-weight: bold;
  color: #404040;
  background: transparent;
}

input[value="등록"]{
    margin-left:5px;
    color:#fff;
    background-color: #281aac !important;
    border-radius: 3px !important;
    cursor:pointer;
} */

/*
.table_list .checkbox_container {
    justify-content: center
}
.table_list td .btn_st1{
    padding: 5px 10px;
}

input[placeholder="우편번호"] {width:41%;}
input[placeholder="우편번호"] + button{width:30%; height:100%; margin-left:1%; border: 1px solid #dedede; border-radius: 1px;}

.dh_modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
}
.wrap_nfcApply {
    position: relative;
}
.wrap_nfcApply + .dh_modal{
    padding-top: 120px;
}
.wrap_nfcApply + .dh_modal .modal-content{
    width: 400px;
    height: 260px;
    padding: 40px 50px;
}
.wrap_nfcApply + .dh_modal .modal-content .change_type{

}
.wrap_nfcApply + .dh_modal .modal-content .change_type h5{
    padding-bottom:10px;
    font-size: 18px;
    text-align: left;
    border-bottom:1px solid #eee;
}
.wrap_nfcApply + .dh_modal .modal-content .change_type .change_type_sel{
    display: flex;
    align-items: center;
    margin:20px 0;
    padding:5px 0 20px 10px;
    font-size: 15px;
    border-bottom:1px solid #eee;
}
.wrap_nfcApply + .dh_modal .modal-content .change_type .change_type_sel input{
    cursor: pointer;
}
.wrap_nfcApply + .dh_modal .modal-content .change_type .change_type_sel label{
    margin-right:20px;
    padding-left:5px;
    cursor: pointer;
}
.wrap_nfcApply + .dh_modal .modal-content input[type="button"]{
    margin:0 3px;
    cursor: pointer;
}
.wrap_nfcApply + .dh_modal .modal-content input[value="발행"]{
    background-color: var(--color_primary);
}

.wrap_nfcApply .wrap_apply_setting{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    font-size:13px;
}
.wrap_nfcApply .wrap_apply_setting input,
.wrap_nfcApply .wrap_apply_setting select,
.wrap_nfcApply .wrap_apply_setting .nfc_field select#flag, .nfc_field input {
    font-size:13px;
}
.wrap_nfcApply .wrap_apply_setting button[name="search_address"]{
    width: 150px;
    height: 34px;
}
.wrap_nfcApply .wrap_apply_setting .wrap_nfcApply_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin: 30px 0 20px;
}
.wrap_nfcApply .layer_search_address{
    display: none;
}
.wrap_nfcApply .layer_search_address{
    position: relative;
    top: 0 !important;
}
.wrap_nfcApply .layer_search_address  img {
    right: -3px;
    top: -41px;
}

#nfcApplyModal ul{
    margin:30px 0 20px;
}
#nfcApplyModal ul li{
    margin:10px 0;
    text-align: left;
}
#nfcApplyModal ul li label{
    display: inline-block;
    width:90px;
}
#nfcApplyModal ul li label + select{
    width:190px;
}

.main_top,
.send_menu,
.tit_wrap.tit_wrap{
    border-top: none;
    border-left: 1px solid #eee ;
}
.send_menu li{
    border-left: 1px solid #eee ;
}
.send_menu li a {
    font-size: 16px;
    color: #222;
}
.send_menu li a.sm_on{
    color: var(--color_primary2);
    border-top: 3px solid var(--color_secondary);
    background: linear-gradient(180deg, #fff 50%, var(--color_secondary3) 100%);
}

.send_menu li a:hover,
[class*=" xi-"], [class^=xi-] {
    color:var(--color_secondary2);
}

.mallmaker_menu li span.material-icons{
    color: var(--color_secondary2);
    position: inherit;
    font-size: 18px;
    margin-right: 4px;
    opacity: 0.9;
}
.mallmaker_menu li a.sm_on span.material-icons{
    color: var(--color_primary2);
}
.mallmaker_menu li a.sm_on{
    color: #000;
    cursor: default;
}

.wrap_nfc_cus_list .modal-content {
    margin-top:200px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 50px 50px 50px 50px !important;
    font-size: 18px;
    font-weight: 700;
    color: #222;
}
.modal-body .btn.md {
    width: fit-content;
}

#main > div.layer_search_address{
    display:none;position:fixed;z-index:1;-webkit-overflow-scrolling:touch;
    padding:0;
}
.layer_search_address img{
    cursor:pointer;position:absolute;right:-3px;top:-41px;z-index:1;
    width: 40px;
}
#touchGuideBox p {
    font-size: 10px;
} */


.od_modal_wrap.od_modal_wrap {
    padding-top:0
}
.od_modal_wrap .modal-content {
    top:50%;
    transform: translateY(-50%);
    width:90%;
    height:90%;
    margin: auto;
    padding:20px 10px;
    background-color: #fff;
    border-radius: 20px;
}
.od_modal_wrap .dh_close {
    top: 0;
    right: 10px;
    height: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    border: none;
    transform: scaleY(0.7);
}
.od_modal_wrap .modal-tit.modal-tit {
    font-size: 18px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
}
.od_modal_wrap .od_area_list {
    width:100%;
    height:calc(100% - 40px);
    overflow-y: auto;
}
.od_modal_wrap th{
    padding: 6px 0;
    font-weight: 400;
    color:#666;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
}
.od_modal_wrap td{
    padding: 5px 5px;
    text-align: center;
}
.od_modal_wrap tbody tr:first-child td{
    padding-top: 10px;
}
.od_modal_wrap tbody td:nth-child(1){
    color:#777;
}
.od_modal_wrap tbody td:nth-child(2){
    text-align: left;
}
