@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&text=0123456789,&display=swap');

@font-face {
  font-family: 'LotteMartHappyMedium';
  font-style: normal;
  font-weight: 400;
  src: url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartHappyBold';
  font-style: normal;
  font-weight: 700;
  src: url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('https://fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}
@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot');
    src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix') format("embedded-opentype"), url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2') format("woff2"), url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff') format("woff"), url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf') format("truetype");
}
@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot');
    src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.eot?#iefix') format("embedded-opentype"), url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff2') format("woff2"), url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.woff') format("woff"), url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundEB.ttf') format("truetype");
}

/*content*/
.wl_r_preview .design_badge{position:absolute; width:70px; z-index:4;}
.wl_r_preview .design_badge img{width:100%;}
.wl_r_preview .sale_badge{position:absolute; width:63px; height:79px; line-height:1.4 !important; padding-top:43px; font-size:25px; font-weight:700; text-align:center; color:#fff; background:url(/dhn/images/sale_badge_bg.jpg) no-repeat; background-size:100%; z-index:4; display:inline-block !important;}
.wl_r_preview .sale_badge span{font-size:0.6em;}
.wl_r_preview .templet_img_in3{
    display: inline-block;
    width:100%;
    height:100%;
    min-height: 300px;
    max-height: 400px;
    margin:0;
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size:contain !important;
    z-index: 0 !important;
}
.wl_r_preview .name,
.wl_r_preview .pop_name span,
.wl_r_preview .price1,
.wl_r_preview .price2,
.wl_r_preview .price3{position:relative; line-height:1.1; font-family: 'LotteMartHappyBold'; z-index:2;
    --stroke-color:#ffffff;
    --stroke-width:2px;
    text-shadow:
        calc(var(--stroke-width) * 0.7) calc(var(--stroke-width) * 0.7) 1px var(--stroke-color),
        calc(var(--stroke-width) * -0.7) calc(var(--stroke-width) * 0.7) 1px var(--stroke-color),
        calc(var(--stroke-width) * 0.7) calc(var(--stroke-width) * -0.7) 1px var(--stroke-color),
        calc(var(--stroke-width) * -0.7) calc(var(--stroke-width) * -0.7) 1px var(--stroke-color),
        var(--stroke-width) 0 1px var(--stroke-color),
        calc(var(--stroke-width) * -1) 0 1px var(--stroke-color),
        0 var(--stroke-width) 1px var(--stroke-color),
        0 calc(var(--stroke-width) * -1) 1px var(--stroke-color);
    /* text-shadow:var(--stroke-width) 0 0 var(--stroke-color), calc(var(--stroke-width) * -1) 0 0 var(--stroke-color), 0 var(--stroke-width) 0 var(--stroke-color), 0 calc(var(--stroke-width) * -1) 0 var(--stroke-color); text-shadow:calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color); */
}
.wl_r_preview .price1,
.wl_r_preview .pop_name span:nth-child(2),
.wl_r_preview .pop_list03 .pop_name,
.wl_r_preview .pop_list03 .price2,
.wl_r_preview .pop_list03 .price3,
.wl_r_preview .pop_list04 .price2,
.wl_r_preview .pop_list04 .price3{ --stroke-width:1px;}

.wl_r_preview .pop_name{color:#111; display:flex; flex-direction:column;}
.wl_r_preview .name span:nth-child(2),
.wl_r_preview .pop_name span{white-space: normal; word-break: keep-all; overflow-wrap: break-word;}
.wl_r_preview .pop_name span:nth-child(2){font-size:0.6em; margin-top:3px; font-family: 'LotteMartHappyMedium'; color:#888; letter-spacing:0px;}
.wl_r_preview .sm_small{position: relative; top:-0.1em; font-size:0.6em; font-family: 'LotteMartHappyMedium'; }

.wl_r_preview .pop_price{position:relative; margin-top:3px; z-index:2;}
.wl_r_preview .price1{display: inline-block; color:#555; font-family: 'NanumSquareRoundB'; --stroke-color:rgba(255, 255, 255, 0.3);}
.wl_r_preview .price2,
.wl_r_preview .price3{font-family:'Anton','SUIT-Regular'; letter-spacing:0px;}
.wl_r_preview .price2{color:#DA281C;}
.wl_r_preview .price3{color:#2C53D2;}
.wl_r_preview .price1::after{
    content: '';
    display: inline-block;
    position: absolute;
    top:40%;
    left:0;
    width: -webkit-fill-available;
    height:1px;
    background-color: #555;
    z-index: 4;
}
.pop_list00 .price1::after,
.pop_list01 .price1::after{
    top: 30%;
    left: -30%;
    width: 120%;
    height: 110%;
    background: url(/images/leaflets/type_J_price_bg01.png) no-repeat;
    background-size: 100%;
}
.pop_list01 .price1::after{
    top: 20%;
    background-size: 120%;
}
.pop_list00 .price1:empty::after,
.pop_list01 .price1:empty::after{
    background: none;
}
.wl_r_preview .price2 .sm_small{top: -0.25em; margin-right: 2px; font-size:0.45em;}

.wl_r_preview .pop_option_wrap1,
.wl_r_preview .pop_option_wrap2{position:relative; z-index:2;}
.wl_r_preview .pop_option{position: relative; width:fit-content; color:#fff; display:inline-block; line-height:1.2; letter-spacing:0px; z-index:2;
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.wl_r_preview .pop_option_wrap1 .pop_option{background-color:#2C53D2;}
.wl_r_preview .pop_option_wrap2 .pop_option{background-color:#DA281C;}

/* 대표상품 */
.wl_r_preview .pre_box2{display:inline-block; position:relative; width:93%; margin:320px 3.5% 3%;}
.wl_r_preview .pre_box2.mg_t0{margin:5% !important;}
.wl_r_preview .pre_box2 dl{
    display: flex; position: relative;
    width:100%; min-height:450px; margin:0; padding:300px 0 0; background-color:#fff;
    overflow:hidden; border-bottom:3px dotted #ccc;
}
.wl_r_preview .pre_box2 dl:last-child{border:none;}
.wl_r_preview .pre_box2 dl:nth-child(even){flex-direction: row-reverse;}

.wl_r_preview .pre_box2 dl dt{position:absolute; top:0; left:0; width:100%; height:100%;}
.wl_r_preview .pre_box2 dl .design_badge,
.wl_r_preview .pre_box2 dl .sale_badge{top:0px;}
.wl_r_preview .pre_box2 dl:nth-child(odd) .design_badge{left:0px;}
.wl_r_preview .pre_box2 dl:nth-child(even) .design_badge{right:0px;}
.wl_r_preview .pre_box2 dl:nth-child(odd) .sale_badge{left:0px;}
.wl_r_preview .pre_box2 dl:nth-child(even) .sale_badge{right:0px;}

.wl_r_preview .pre_box2 dt .templet_img_in3{
    position: relative;
    min-height: 300px;
    max-height: 400px;
    background-position-y:top !important;
}
.wl_r_preview .pre_box2 dl dd {font-size:2.0em; margin-top: auto; width:100%; z-index:1;}
.wl_r_preview .pre_box2 dl:nth-child(odd) ul{align-items: flex-end}
.wl_r_preview .pre_box2 dl dd ul{display: flex; flex-direction: column; gap:3px; width:92%; line-height: 1.2; margin:0 4%;}
.wl_r_preview .pre_box2 dl dd li{width: fit-content; text-align:right;}
.wl_r_preview .pre_box2 dl:nth-child(even) dd ul li{text-align:left;}

.wl_r_preview .pre_box2 dd .name{order:3; font-size:2.4em; font-family: 'GMarketSans' , 'Noto Sans KR', 'Spoqa Han Sans', 'kakao', sans-serif; font-weight: 600; line-height: 1.2; margin: 0px 0 0;}
.wl_r_preview .pre_box2 dd .name span:nth-child(2){font-size: 0.8em; line-height: 1.1;  opacity:0.5;}
.wl_r_preview .pre_box2 dd .price1{order:1; font-size:1.8em; color:#666; margin:-80px 20px 10px 0; letter-spacing: -3px;}
.wl_r_preview .pre_box2 dd .price1:empty{margin-top:0px;}
.wl_r_preview .pre_box2 dd .price3{order:1; font-size:2.2em; --stroke-width:3px; letter-spacing: 2px; line-height: 1; margin-bottom: 25px;}
.wl_r_preview .pre_box2 dd .price2{order:2; font-size:4.2em; --stroke-color:#fff200; --stroke-width:5px; letter-spacing: 5px;}
.wl_r_preview .pre_box2 dd [class^="pop_option_wrap"]{order:4; margin-bottom:5px;}
.wl_r_preview .pre_box2 dd .pop_option_wrap2{margin-bottom:15px;}
.wl_r_preview .pre_box2 dd .pop_option{font-size:1.5em; padding:0 5px; border-radius: 3px;}

.wl_r_preview .pre_box3,
.wl_r_preview .pre_box4{width:100%; background-color:#e4e4e4;}
.pop_list_wrap{display:flex; align-items:stretch; flex-wrap:wrap; padding-bottom:3px;}

.pop_list00,
.pop_list01,
.pop_list03,
.pop_list04{float:left; min-height:100px; position:relative; background-color:#fff; border-right:1px dotted #ddd; border-bottom:1px dotted #ddd;}
.pop_list01:last-child,
.pop_list03:last-child,
.pop_list04:last-child{border-right:none;}

.pop_list00{
    font-size:1.8em;
    display: flex; flex-direction: column; justify-content:space-between;
    position: relative;
    width: 93%;
    min-height: 400px;
    margin: 0 3.5% 3%;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}
.pop_list00:first-child{margin-top:3%;}
.pop_list00 .design_badge,
.pop_list00 .sale_badge{order:2; position: relative; margin:5px 0 -85px 5px; height:80px;}
.pop_list00 .wrap_templet_img_in3{
    order: 2;
    margin:0px 0% -80px;
}
.pop_list00 .templet_img_in3{background-position-y: top !important;}
/* .pop_list00:has(.pop_option_wrap1 .pop_option:empty) .templet_img_in3{margin-top:0;} */
.pop_list00 .wrap_pop_name{order:3; margin: auto 0 0;}
.pop_list00 .pop_name{font-size:2.6em; display: flex; flex-direction: column; align-items: flex-end; padding:0 10px; text-align: right;}
/* .pop_list00:not(:has(div[class*="badge"])) .pop_name,
.pop_list00:has(div[id^="pre_goods_badge"]:empty) .pop_name{margin: auto 10px 20px 10px;} */
/* .pop_list00:has(div[id^="pre_goods_badge"]:empty):has(.pop_option_wrap1 .pop_option:empty) .pop_list00 .pop_name{font-size:2.3em;} */
.pop_list00 .pop_name span:nth-child(1){--stroke-width: 3px;}
.pop_list00 .pop_name span:nth-child(2){margin-left:5px;}
.pop_list00 .wrap_pop_price{order:4; margin: 5px 0 0 80px; z-index: 3;}
.pop_list00 .pop_price{display: flex; flex-direction: column; align-items: flex-end;}
.pop_list00 .price1{font-size:1.4em; margin-bottom:7px; margin-right:10px;}
.pop_list00 .price3{font-size:2.4em; margin-top:0px; margin-right:10px; font-family: 'LotteMartHappyBold'; color:#5800fe;}
.pop_list00 .price2{font-size:3.2em; width:fit-content; line-height: 1.2; margin-top:0px; padding:4px 20px 0; font-family: 'LotteMartHappyBold';  color:#ffe401; text-align: center; border-radius:10px 0 0 0; background-color: #ea2127;  --stroke-width: 0;}
.pop_list00:has(.pop_option_wrap2 .pop_option:not(:empty)) .price2{width:100%; padding:4px 10px 0;}
.pop_list00 .pop_price .price3 .sm_small{margin-left: 0.2em;}

.pop_list00 .pop_option{font-size:1.5em; font-family: 'NanumSquareRoundEB'; font-weight:400; color:#fff; text-align: center;}
.pop_list00 .pop_option_wrap1{order:1; display:block; width: 90%; margin: 0 auto 0px; text-align: center; }
.pop_list00 .pop_option_wrap2{order:5; display: flex !important; justify-content: flex-end; align-items: center; position: relative; margin-left: 80px; z-index: 4;}
.pop_list00 .pop_option_wrap1 .pop_option{padding:4px 15px 3px; color:#fff; border-radius:0 0 10px 10px; background-color: #1b1b1b;}
.pop_list00 .pop_option_wrap2 .pop_option{width:100%; padding:4px 10px 3px; background: none; z-index: 1; color:#1a1b1b; background-color: #ffe400;}
.pop_list00 .pop_option_wrap2 .pop_option:empty{display: none;}

.pop_list01{font-size:1.1em; display: flex; flex-direction: column; justify-content:space-between; width:45.5%; min-height: 220px; margin:0 0 3% 3%; border-radius:10px; border:none; overflow: hidden;}
/* .pop_list_wrap:has(> .pop_list01:nth-last-child(1 of .pop_list01):nth-child(odd of .pop_list01)) > .pop_list01:last-child{font-size:1.8em;} */

.pop_list01:nth-child(2n){border-right:none;}
.pop_list_wrap:has(.pop_list01):not(:has(.pop_list00)){padding-top:3%;}
.pop_list01 .design_badge,
.pop_list01 .sale_badge{order:4; position: relative; margin-top:-90px; margin-left: 5px;}
.pop_list01 .design_badge{width:45px;}
.pop_list01 .sale_badge{width:46px; height:58px; padding-top:30px; font-size:20px;}
.pop_list01 .sale_badge span{font-size:0.6em;}
.pop_list01 .wrap_templet_img_in3{order:3; flex:1; position:relative; margin: -50px 0 -40px 0%; width:100%;
    min-height:180px;
    height: -webkit-fill-available;
}
.pop_list01 .templet_img_in3{
    min-height: 180px;
    max-height: 220px;
}
.pop_list01 .wrap_pop_name{order:2; margin:8px 8px 0 0; text-align: right; z-index: 1;}
.pop_list01 .pop_name{font-size:2.2em; text-align: right;}
.pop_list01 .pop_name span:nth-child(2){margin-top: 2px; font-size: 0.7em;}
.pop_list01 .wrap_pop_price{order:5; margin-top:auto}
.pop_list01 .pop_price{display: flex; flex-direction: column; align-items: flex-end;}
.pop_list01:has(.price1:empty):has(.price3:empty) .pop_price{margin-top: 15px;}
.pop_list01:has(.price1:empty) .pop_price{margin-top: -20px;}
.pop_list01:has(.price3:empty) .pop_price{margin-top: -10px;}
/* .pop_list01:not(:has(div[class*="badge"])) .pop_price.pop_price{margin-top:-90px !important;} */
.pop_list01 .price1{font-size:1.5em; margin: 0 8px 5px 0; --stroke-width: 2px; --stroke-color:rgba(255, 255, 255, 0.5);}
.pop_list01 .price3{font-size:2.6em; margin: 0px 8px 0 0; font-family: 'LotteMartHappyBold'; color:#5800fe;}
.pop_list01 .price2{font-size:3.2em; width:100%; margin-top: 3px; padding:5px 6px 2px; font-family: 'LotteMartHappyBold'; color:#ffe401; text-align: center; border-radius:10px 10px 0 0; background-color: #ea2127; --stroke-width: 0;}
.pop_list01 .pop_price .price3 .sm_small{margin-left: 0.2em;}
.pop_list01 .pop_option_wrap1{order:1; display:block; width: 85%; margin: 0 auto; text-align: center;}
.pop_list01 .pop_option_wrap2{order:6; display:block !important; position: relative; text-align: center; z-index: 0;}
.pop_list01 .pop_option_wrap2[style="display:none;"]{height:0;}
.pop_list01 .pop_option{font-size:1.3em; font-family: 'NanumSquareRoundEB'; border-radius:5px;}
.pop_list01 .pop_option_wrap1 .pop_option{color:#fff; padding:4px 10px 2px;border-radius:0 0 10px 10px; background-color: #1b1b1b;}
.pop_list01 .pop_option_wrap2 .pop_option{width:100%; padding:4px 6px 4px; color:#1a1b1b; text-align: center; background-color: #ffe400; border-radius: 0; z-index: 1;}

/* 텍스트 1단 */
.wl_r_preview .pre_box4 .pop_list_wrap{--gap: 0; padding:10px 0; background-color:transparent;}
.pop_list02.cartplus{width:96%; margin:0 2% 0.5%;}
.pop_list02.cartplus_t{width:88%; margin:0 2% 0.5%;}

.pop_list02{font-size: 1.1em; position: relative; width:96%; min-height: 100px; margin:0 2% 0; background-color:#fff; display: inline-block; padding:10px 8px 8px !important; border-radius:5px;}
.pop_list02:first-child{margin-top:1%;}
.pop_list02:last-child{margin-bottom:2%;}

.pop_list02 .name{--stroke-width:0; font-size:1.8em; width: calc(100% - 125px); line-height: 1.1;}
.pop_list02 .name span:nth-child(1),
.pop_list02 .name span:nth-child(2){padding: 3px 0; color:#111; margin-right:5px; background: none; text-align: left; text-shadow: none;}
.pop_list02 .name span:nth-child(2){font-size:0.9em; font-weight:400; opacity: 0.8;}

.pop_list02 .price1,
.pop_list02 .price3,
.pop_list02 .price2{position:absolute; right:3%; width:auto; text-align:right; text-shadow:none;}
.pop_list02 .price1{font-size:1.4em; bottom:69px; opacity: 0.6;}
.pop_list02 .price3{font-size:1.8em; bottom:40px;}
.pop_list02 .price2{font-size:2.5em; bottom:-3px;}
.pop_list02:has(.price1:empty,.price3:empty){min-height: 70px;}
.pop_list02:has(.price3:empty) .price1{bottom:40px;}
.pop_list02 [class^="pop_option_wrap"]{width: calc(100% - 125px); margin-top:3px; text-align: left;}
.pop_list02 [class^="pop_option_wrap"]:first-of-type{margin-top:5px;}
.pop_list02 .pop_option{font-size:1.2em; border-radius: 3px; padding: 3px 5px 0px;}

.pop_list03{font-size:1.1em; --gap: 1px; --stroke-width: 2px; display:flex; flex-direction:column; width: calc(100% / 3 - var(--gap) * 2); min-height:110px; padding:8px 10px 0px; overflow: hidden;}
.pop_list03:nth-child(3n){margin-right:0;}
.pop_list03 .templet_img_in3{
    order: 2;
    min-height: 130px;
    max-height: 150px;
    margin: 0px 0 -40px;
}
.pop_list03 .pop_name{order:1; font-size:1.6em; margin:3px 0 10px; text-align:left;}
/* .pop_list03:not(:has(.goods_number_view)) .pop_name,
.pop_list03:has(.goods_number_view:empty) .pop_name{margin:10px 0 10px;} */
.pop_list03 .pop_price{order:4; margin: auto 0 3px; text-align:left;}
.pop_list03 .price1{font-size:1.6em; --stroke-width: 2px;}
.pop_list03 .price3{font-size:1.8em; margin-top:2px; color:#2c53d2;}
.pop_list03 .price2{font-size:2.6em; margin-top:3px;}

.pop_list04{font-size:1.0em; --gap: 1px; --stroke-width: 2px; display: flex; flex-direction: column; width: calc(100% / 4 - var(--gap) * 3); padding:0px 5px 7px; overflow: hidden;}
.pop_list04:nth-child(4n){margin-right:0;}
.pop_list04 .templet_img_in3{
    min-height: 100px;
    max-height: 130px;
    margin-bottom: -10px;
}
.pop_list04 .pop_name{font-size:1.5em; margin:3px 0 0px;}
.pop_list04 .pop_price{margin-top:auto;}
.pop_list04 .price1{font-size:1.2em; --stroke-width: 2px;}
.pop_list04 .price3{font-size:1.4em; color:#2c53d2;}
.pop_list04 .price2{font-size:2.2em; margin-top:3px;}
.pop_list04 .price1:empty{display: none;}

/* .icon_add_cart {position:absolute; top:0; left:0; right:0; width:100%; height:100%; cursor:pointer;  color:transparent; background:url(/images/icon_add_cart3.png) no-repeat; background-size:12%; border:none; opacity:0.5; z-index:9;}
.pre_box2 dl .icon_add_cart{background-position:3% 95%;}
.pre_box2 dl:nth-child(even) .icon_add_cart{background-position:97% 95%;}
.pop_list00 .icon_add_cart{background-position:98% 97%; background-size:12%;}
.pop_list01 .icon_add_cart{background-position:99% 50%; background-size:19%;}
.pop_list02 .icon_add_cart{position:absolute; top:0; right:-10%; float:left; width:110%; height:100%; background-position:center right; background-size:7.5%;}
.pop_list03 .icon_add_cart {background-position:98% 85%; background-size:23%;}
.pop_list04 .icon_add_cart {background-position:97% 2%; background-size:30%;} */

.icon_add_cart {width:100%; height:100%; z-index:9; cursor:pointer; position:absolute; top:0; left:0; right:0; text-indent:-1000px; background:url(/images/icon_add_cart3.png) no-repeat; opacity:0.5; background-size:40px; border:none;}
.pre_box2 dl .icon_add_cart{background-position:3% 97%;}
.pre_box2 dl:nth-child(even) .icon_add_cart{background-position:97% 97%;}
.pop_list00 .icon_add_cart{background-position:2% 98%;}
.pop_list01 .icon_add_cart{background-position:98% 70%;}
.pop_list03 .icon_add_cart {background-position:98% 43%;}
.pop_list04 .icon_add_cart {background-position:97% 48%; background-size:35px;}
.pop_list02 .icon_add_cart{width:110%; height:100%; background-position:center right; background-size:7.5%; float:left; text-indent:-1000px; top:0; right:-10%;}

.soldout:after {
	content:"품 절";
	display:flex;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    z-index:9;
	color:#fff;
	font-size:24px;
	font-weight:600;
	justify-content:center;
	align-items:center;
    text-shadow:0px 0px 5px #333;
	background:rgba(130, 130, 130, 0.65);
    border:none;
}
.pre_box2 dl .soldout:after {font-size:44px; text-shadow:0px 0px 10px #111;}
.pop_list00 .soldout:after {font-size:44px; text-shadow:0px 0px 10px #111;}
.pop_list01 .soldout:after {font-size:38px; border-radius:10px;}
.pop_list02.soldout::after {font-size:26px; border-radius:3px; opacity:0.8;}
.pop_list03 .soldout:after {font-size:28px;}
.pop_list04 .soldout:after {font-size:22px;}
