@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&text=0123456789,&display=swap');

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/PretendardVariable.woff2') format('woff2-variations');
}

/*content*/
.wl_r_preview .design_badge{position:absolute; width:65px; z-index:4;}
.wl_r_preview .design_badge img{width:100%;}
.wl_r_preview .sale_badge{display:inline-block !important; position:absolute; width:63px; height:79px; line-height:1.4 !important; padding-top:43px; font-size:25px; font-weight:700; text-align:center; color:#fff; background:url(/dhn/images/sale_badge_bg.jpg) no-repeat; background-size:100%; z-index:4;}
.wl_r_preview .sale_badge span{font-size:0.6em;}
.wl_r_preview .templet_img_in3{
    display:inline-block;
    position:relative; top:0%; left:0%;
    width:100%; height:100%;
    min-height: 280px; max-height: 400px;
    background-repeat:no-repeat !important;
    background-position-x:50% !important; background-position-y:50% !important;
    background-size:contain !important;
    overflow:hidden;
    z-index:0;
}

.wl_r_preview .name,
.wl_r_preview .pop_name,
.wl_r_preview .price1,
.wl_r_preview .price2,
.wl_r_preview .price3{position:relative; line-height:1.1; z-index:2;
    --stroke-color:#ffffff;
    --stroke-width:2px;
    text-shadow:
        calc(var(--stroke-width) * 0.7) calc(var(--stroke-width) * 0.7) 1px var(--stroke-color),
        calc(var(--stroke-width) * -0.7) calc(var(--stroke-width) * 0.7) 1px var(--stroke-color),
        calc(var(--stroke-width) * 0.7) calc(var(--stroke-width) * -0.7) 1px var(--stroke-color),
        calc(var(--stroke-width) * -0.7) calc(var(--stroke-width) * -0.7) 1px var(--stroke-color),
        var(--stroke-width) 0 1px var(--stroke-color),
        calc(var(--stroke-width) * -1) 0 1px var(--stroke-color),
        0 var(--stroke-width) 1px var(--stroke-color),
        0 calc(var(--stroke-width) * -1) 1px var(--stroke-color);
    /* text-shadow:var(--stroke-width) 0 0 var(--stroke-color), calc(var(--stroke-width) * -1) 0 0 var(--stroke-color), 0 var(--stroke-width) 0 var(--stroke-color), 0 calc(var(--stroke-width) * -1) 0 var(--stroke-color); text-shadow:calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color); */
}
.wl_r_preview .price1,
.wl_r_preview .pop_name span:nth-child(2),
.wl_r_preview .pop_list03 .pop_name,
.wl_r_preview .pop_list03 .price2,
.wl_r_preview .pop_list03 .price3,
.wl_r_preview .pop_list04 .price2,
.wl_r_preview .pop_list04 .price3{ --stroke-width:1px;}

.wl_r_preview .pop_list02 .name span:nth-child(1),
.wl_r_preview .pop_name span:nth-child(1){
    font-family:'Pretendard';
    font-weight:800;
    color:#000;
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.wl_r_preview .pop_name{display:flex; flex-direction:column;}
.wl_r_preview .name span:nth-child(2),
.wl_r_preview .pop_name span:nth-child(2){font-size:0.8em; font-weight:400; word-break:keep-all !important; opacity:0.8;}
.wl_r_preview .sm_small{font-size:0.6em; font-weight:bold;}

.wl_r_preview .pop_price{overflow:hidden; z-index:2;}
.wl_r_preview .price1{font-family: 'Pretendard'; text-decoration:line-through; --stroke-color:rgba(255, 255, 255, 0.3);}
.wl_r_preview .price2,
.wl_r_preview .price3{font-family:'Anton','SUIT-Regular'; letter-spacing:0px;}
.wl_r_preview .price2{color:#DA281C;}
.wl_r_preview .price3{color:#2C53D2;}

.wl_r_preview .pop_option_wrap1,
.wl_r_preview .pop_option_wrap2{position:relative; z-index:2;}
.wl_r_preview .pop_option{
    display:inline-block; width:fit-content;
    line-height:1.2; font-size:1em; font-weight: 600; color:#fff; letter-spacing:0px;
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.wl_r_preview .pop_option_wrap1 .pop_option{background-color:#2C53D2;}
.wl_r_preview .pop_option_wrap2 .pop_option{background-color:#DA281C;}

/* 대표상품 */
.wl_r_preview .pre_box2{display:inline-block; position:relative; width:93%; margin:320px 3.5% 3%;}
.wl_r_preview .pre_box2.mg_t0{margin:5% !important;}
.wl_r_preview .pre_box2 dl{
    display: flex; position: relative;
    width:100%; min-height:450px; margin:0; padding:300px 0 0; background-color:#fff;
    overflow:hidden; border-bottom:3px dotted #ccc;
}
.wl_r_preview .pre_box2 dl:last-child{border:none;}
.wl_r_preview .pre_box2 dl:nth-child(even){flex-direction: row-reverse;}

.wl_r_preview .pre_box2 dl dt{position:absolute; top:0; left:0; width:100%; height:100%;}
.wl_r_preview .pre_box2 dl .design_badge,
.wl_r_preview .pre_box2 dl .sale_badge{top:0px;}
.wl_r_preview .pre_box2 dl:nth-child(odd) .design_badge{left:0px;}
.wl_r_preview .pre_box2 dl:nth-child(even) .design_badge{right:0px;}
.wl_r_preview .pre_box2 dl:nth-child(odd) .sale_badge{left:0px;}
.wl_r_preview .pre_box2 dl:nth-child(even) .sale_badge{right:0px;}

.wl_r_preview .pre_box2 dt .templet_img_in3{position: relative; top:0%; left:0%; width:100%; aspect-ratio: 1 / 1; height:100%; background-position-y:top !important;}
/* .wl_r_preview .pre_box2 dl:nth-child(even) .templet_img_in3{left:auto; right:-10%;} */
.wl_r_preview .pre_box2 dl dd {font-size:1.7em; margin-top: auto; width:100%; z-index:1;}
.wl_r_preview .pre_box2 dl:nth-child(odd) ul{align-items: flex-end}
.wl_r_preview .pre_box2 dl dd ul{display: flex; flex-direction: column; gap:3px; width:92%; line-height: 1.2; margin:0 4%;}
.wl_r_preview .pre_box2 dl dd li{width: fit-content; max-width: 100%; text-align:right;}
.wl_r_preview .pre_box2 dl:nth-child(even) dd ul li{text-align:left;}

.wl_r_preview .pre_box2 dd .name{order:3; font-size:2.8em; font-family: 'GmarketSans' , 'Noto Sans KR', 'Spoqa Han Sans', 'kakao', sans-serif; font-weight: 600; line-height: 1.2; margin: 0px 0 0;}
.wl_r_preview .pre_box2 dd .name span:nth-child(2){font-size: 0.8em; line-height: 1.1;  opacity:0.5; font-weight: 400;}
.wl_r_preview .pre_box2 dd .price1{order:1; font-size:1.9em; color:#666; margin:-80px 20px 10px 0; letter-spacing: -3px;}
.wl_r_preview .pre_box2 dd .price1:empty{margin-top:0px;}
.wl_r_preview .pre_box2 dd .price3{order:1; font-size:2.8em; --stroke-width:3px; letter-spacing: 2px; line-height: 1; margin-bottom: 25px;}
.wl_r_preview .pre_box2 dd .price2{order:2; font-size:4.2em; --stroke-color:#fff200; --stroke-width:5px; letter-spacing: 5px;}
.wl_r_preview .pre_box2 dd [class^="pop_option_wrap"]{order:4; margin-bottom:5px;}
.wl_r_preview .pre_box2 dd .pop_option_wrap2{margin-bottom:15px;}
.wl_r_preview .pre_box2 dd .pop_option{font-size:1.7em; padding:0 8px 4px; border-radius: 3px;}

.wl_r_preview .pre_box3,
.wl_r_preview .pre_box4{width:100%; background-color:#e4e4e4;}
.pop_list_wrap{display:flex; align-items:stretch; flex-wrap:wrap; padding-bottom:3px;}

.pop_list00,
.pop_list01,
.pop_list03,
.pop_list04{position:relative; min-height:100px; text-align:center; background-color:#fff; border-right:1px dotted #ddd; border-bottom:1px dotted #ddd;}
.pop_list01:last-child,
.pop_list03:last-child,
.pop_list04:last-child{border-right:none;}

/* .pop_list_wrap > div[class^="pop_list"]{
    container-type: inline-size;
    flex: 1 1 auto;
} */

.pop_list00{font-size:1.1em; display: flex; flex-direction: column; width:100%; min-height:200px; margin:0 0 2px; text-align:left; border-radius:8px; border:none; overflow:hidden;}
.pop_list00::before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background-color: #eee;
    z-index: 2;
}
/* .pop_list00:first-child{margin-top:3%;} */
.pop_list00 > * {width:50%; z-index: 2;}
.pop_list00 .design_badge,
.pop_list00 .sale_badge{top:0px; right:0px;}
.pop_list00 .wrap_templet_img_in3{position:absolute; right:0%; top:0%; height:100%; transform: scale(1.0); z-index: 0;}
.pop_list00 .templet_img_in3{width: 100%; height: 100%; min-height: 100%; max-height: 100%;}
.pop_list00 .wrap_pop_name{order:2; margin-bottom:10px; padding:5px 0 0 8px;}
.pop_list00 .pop_name{width: 100%; height: 100%; font-size:2.2em; --stroke-width:0;}
.pop_list00:has(.pop_option_wrap1 .pop_option:empty) .pop_name{margin-top:5px;}
.pop_list00 .pop_name span:nth-child(2){margin-top:2px; font-size: 0.6em; opacity:0.7;}
.pop_list00 .wrap_pop_price{order:3; margin-top:auto; padding-left:8px;}
.pop_list00 .pop_price{position: relative; display: contents;  width: 100%; height: 100%;}
.pop_list00 .pop_price .price1{font-size:1.8em; line-height: 1.4; margin-top:5px; --stroke-width:0;}
.pop_list00 .pop_price .price3{font-size:2.4em; display: flex; align-items: baseline; --stroke-width:0;}
.pop_list00 .pop_price .price3 .sm_small{font-size: 0.5em; color:#333;}
.pop_list00 .pop_price .price2{font-size:3.8em; position: absolute; bottom:0; left:0; display: flex; align-items: center; justify-content: center; color: #fffc01; width:50%; height:65px; line-height:1; padding-top:6px; background-color: #111; --stroke-width:0;}
.pop_list00 .pop_price .price2 .sm_small{margin-left:2px; font-size: 0.35em; color:#fff;}
.pop_list00 .pop_option_wrap1{order:1; display:block;}
.pop_list00 .pop_option_wrap2{order:4; display:block !important; min-height:15px; margin-top: 3px; margin-bottom:65px; background-color: #ff3030;}
.pop_list00 .pop_option{font-size:1.4em; padding:6px 10px 5px; font-family:'Pretendard';}
.pop_list00 .pop_option_wrap1 .pop_option{color:#111; border-radius: 0 0 10px 0; background-color: #fffc01;}
.pop_list00 .pop_option_wrap2 .pop_option{width:100%; text-align: center; background-color: #ff3030;}

/* .pop_list00 > * {width:50%; z-index: 1;}
.pop_list00 .design_badge,
.pop_list00 .sale_badge{top:5px; right:5px;}
.pop_list00 .templet_img_in3{position:absolute; right:0%; top:0%; height:100%; transform: scale(1.3); z-index: 0;}
.pop_list00 .pop_name{order:2; font-size:2.8em; margin-bottom:10px; padding:5px 0 0 8px; --stroke-width:0;}
.pop_list00:has(.pop_option_wrap1 .pop_option:empty) .pop_name{margin-top:5px;}
.pop_list00 .pop_name span:nth-child(2){margin-top:2px; font-size: 0.6em; opacity:0.7;}
.pop_list00 .pop_price{order:3; margin-top:auto; padding-left:8px;}
.pop_list00 .pop_price .price1{font-size:1.8em; line-height: 1.4; margin-top:5px; --stroke-width:0;}
.pop_list00 .pop_price .price3{font-size:2.8em; display: flex; align-items: baseline; --stroke-width:0;}
.pop_list00 .pop_price .price3 .sm_small{font-size: 0.5em; color:#333;}
.pop_list00 .pop_price .price2{font-size:4.2em; color: #fffc01; display: flex; align-items: center; justify-content: center; position: absolute; bottom:0; left:0; width:50%; height:65px; line-height:1; padding-top:6px; background-color: #111; --stroke-width:0;}
.pop_list00 .pop_price .price2 .sm_small{margin-left:2px; font-size: 0.35em; color:#fff;}
.pop_list00 .pop_option_wrap1{order:1; display:block;}
.pop_list00 .pop_option_wrap2{order:4; display:block !important; min-height:15px; margin-top: 3px; margin-bottom:65px; background-color: #ff3030;}
.pop_list00 .pop_option{font-size:1.8em; padding:6px 10px 5px; font-family:'Pretendard';}
.pop_list00 .pop_option_wrap1 .pop_option{color:#111; border-radius: 0 0 10px 0; background-color: #fffc01;}
.pop_list00 .pop_option_wrap2 .pop_option{width:100%; text-align: center; background-color: #ff3030;} */

.pop_list01{font-size:1.0em; display: flex; flex-direction: column; width:50%; min-height:250px; margin:0 0; padding:; text-align:left; border-radius:8px 0 0 8px; border:none; overflow: hidden;}
.pop_list_wrap:has(.pop_list00) .pop_list01:nth-of-type(2n + 1),
.pop_list_wrap:not(:has(.pop_list00)) .pop_list01:nth-of-type(2n){margin-left:0; border-left: 1px dotted #ddd; border-radius:0 8px 8px 0;}
.pop_list01 .design_badge,
.pop_list01 .sale_badge{top:5px; right:5px;}
.pop_list01 .design_badge{width:50px;}
.pop_list01 .sale_badge{width:46px; height:58px; padding-top:30px; font-size:20px;}
.pop_list01 .sale_badge span{font-size:0.6em;}
.pop_list01 .wrap_templet_img_in3{
    display: flex;
    align-items: center;
    order:3; flex:1;
    position:relative;
    margin: -40px 0 -40px; left:0%;
    width: 100%; min-height: 180px; height: -webkit-fill-available;
}
.pop_list01 .templet_img_in3{
    min-height: 180px;
    max-height: 220px;
}
.pop_list01 .wrap_pop_name{order:2;width: calc(100% - 64px); padding:5px 0 0 8px;}
.pop_list01 .pop_name{width: 100%; height: 100%; font-size:2.2em;}
.pop_list01 .pop_name span:nth-child(2){margin-top:2px; font-size: 0.6em; opacity:0.7;}
.pop_list01 .wrap_pop_price{order:4; width:100%; margin-top: auto; padding-left:8px;}
.pop_list01 .pop_price{display: contents; width: 100%; height: 100%;}
.pop_list01 .pop_price .price1{font-size:1.8em; line-height: 1.4; margin-top:5px;}
.pop_list01 .pop_price .price3{font-size:2.4em; display: flex; align-items: baseline;}
.pop_list01 .pop_price .price3 .sm_small{margin-left: 1px; font-size: 0.5em; color:#333;}
.pop_list01 .pop_price .price2{font-size:3.4em; color: #fffc01; display: flex; align-items: center; justify-content: center; position: absolute; bottom:0; left:0; width:100%; height:65px; line-height:1; padding-top:6px; background-color: #111; --stroke-width:0;}
.pop_list01 .pop_price .price2 .sm_small{margin-left:2px; font-size: 0.35em; color:#fff;}
.pop_list01 .pop_option_wrap1{order:1; display:block; width: calc(100% - 64px);}
.pop_list01 .pop_option_wrap2{order:5; display:block !important; width:100%; min-height:15px; margin-top: 3px; margin-bottom:65px; background-color: #ff3030;}
.pop_list01 .pop_option{font-size:1.5em; padding:6px 10px 5px; font-family:'Pretendard';}
.pop_list01 .pop_option_wrap1 .pop_option{color:#111; border-radius: 0 0 10px 0; background-color: #fffc01;}
.pop_list01 .pop_option_wrap2 .pop_option{width:100%; text-align: center; background-color: #ff3030;}

/* .pop_list01{font-size:1.0em; display: flex; flex-direction: column; width:50%; min-height:250px; margin:0 0; padding:; text-align:left; border-radius:8px 0 0 8px; border:none; overflow: hidden;}
.pop_list_wrap:has(.pop_list00) .pop_list01:nth-of-type(2n + 1),
.pop_list_wrap:not(:has(.pop_list00)) .pop_list01:nth-of-type(2n){margin-left:0; border-left: 1px dotted #ddd; border-radius:0 8px 8px 0;}
.pop_list01 .design_badge,
.pop_list01 .sale_badge{top:5px; right:5px;}
.pop_list01 .design_badge{width:50px;}
.pop_list01 .sale_badge{width:46px; height:58px; padding-top:30px; font-size:20px;}
.pop_list01 .sale_badge span{font-size:0.6em;}
.pop_list01 .templet_img_in3{order:3; flex:1; position:relative; margin: -40px 0 -40px; left:-5%; width: 110%; min-height: 180px; height: -webkit-fill-available; }
.pop_list01 .pop_name{order:2; font-size:2.3em; width: calc(100% - 64px); padding:5px 0 0 8px;}
.pop_list01 .pop_name span:nth-child(2){margin-top:2px; font-size: 0.6em; opacity:0.7;}
.pop_list01 .pop_price{order:4; width:100%; margin-top: auto; padding-left:8px;}
.pop_list01 .pop_price .price1{font-size:1.4em; line-height: 1.4; margin-top:5px;}
.pop_list01 .pop_price .price3{font-size:2.4em; display: flex; align-items: baseline;}
.pop_list01 .pop_price .price3 .sm_small{margin-left: 1px; font-size: 0.5em; color:#333;}
.pop_list01 .pop_price .price2{font-size:4.2em; color: #fffc01; display: flex; align-items: center; justify-content: center; position: absolute; bottom:0; left:0; width:100%; height:65px; line-height:1; padding-top:6px; background-color: #111; --stroke-width:0;}
.pop_list01 .pop_price .price2 .sm_small{margin-left:2px; font-size: 0.35em; color:#fff;}
.pop_list01 .pop_option_wrap1{order:1; display:block; width: calc(100% - 64px);}
.pop_list01 .pop_option_wrap2{order:5; display:block !important; width:100%; min-height:15px; margin-top: 3px; margin-bottom:65px; background-color: #ff3030;}
.pop_list01 .pop_option{font-size:1.5em; padding:6px 10px 5px; font-family:'Pretendard';}
.pop_list01 .pop_option_wrap1 .pop_option{color:#111; border-radius: 0 0 10px 0; background-color: #fffc01;}
.pop_list01 .pop_option_wrap2 .pop_option{width:100%; text-align: center; background-color: #ff3030;} */


/* 텍스트 1단 */
.wl_r_preview .pre_box4 .pop_list_wrap{--gap: 0; padding:10px 0; background-color:transparent;}
.pop_list02.cartplus{width:96%; margin:0 2% 0.5%;}
.pop_list02.cartplus_t{width:88%; margin:0 2% 0.5%;}

.pop_list02{font-size: 1.1em; position: relative; width:96%; min-height: 100px; margin:0 2% 0; background-color:#fff; display: inline-block; padding:10px 8px 8px !important; border-radius:5px;}
.pop_list02:first-child{margin-top:1%;}
.pop_list02:last-child{margin-bottom:2%;}

.pop_list02 .name{--stroke-width:0; font-size:1.8em; width: calc(100% - 125px); line-height: 1.1;}
.pop_list02 .name span:nth-child(1),
.pop_list02 .name span:nth-child(2){padding: 3px 0; color:#111; margin-right:5px; background: none; text-align: left; text-shadow: none;}
.pop_list02 .name span:nth-child(2){font-size:0.9em; font-weight:400; opacity: 0.8;}

.pop_list02 .price1,
.pop_list02 .price3,
.pop_list02 .price2{position:absolute; right:3%; width:auto; text-align:right; text-shadow:none;}
.pop_list02 .price1{font-size:1.4em; bottom:69px; opacity: 0.6;}
.pop_list02 .price3{font-size:1.8em; bottom:40px;}
.pop_list02 .price2{font-size:2.5em; bottom:-3px;}
.pop_list02:has(.price1:empty,.price3:empty){min-height: 70px;}
.pop_list02:has(.price3:empty) .price1{bottom:40px;}
.pop_list02 [class^="pop_option_wrap"]{width: calc(100% - 125px); margin-top:3px; text-align: left;}
.pop_list02 [class^="pop_option_wrap"]:first-of-type{margin-top:5px;}
.pop_list02 .pop_option{font-size:1.2em; border-radius: 3px; padding: 3px 5px 0px;}

.pop_list03{font-size:1.2em; --gap: 1px; --stroke-width: 2px; display:flex; flex-direction:column; width: calc(100% / 3 - var(--gap) * 2); min-height:110px; padding:8px 5px 0px; overflow: hidden;}
.pop_list03:nth-child(3n){margin-right:0;}
.pop_list03 .templet_img_in3{
    order: 2;
    min-height: 130px;
    max-height: 150px;
    margin: 0px 0 -10px;
}
.pop_list03 .pop_name{order:1; font-size:1.5em; margin:25px 0 auto; text-align:left;}
.pop_list03:not(:has(.goods_number_view)) .pop_name,
.pop_list03:has(.goods_number_view:empty) .pop_name{margin:10px 0 10px;}
.pop_list03 .pop_price{order:4; margin: auto 0 3px; text-align:left;}
.pop_list03 .price1{font-size:1.6em; --stroke-width: 1px;}
.pop_list03 .price3{font-size:1.8em; margin-top:2px; color:#2c53d2;}
.pop_list03 .price2{font-size:2.6em; margin-top:3px;}

.pop_list04{font-size:1.2em; --gap: 1px; --stroke-width: 2px; display: flex; flex-direction: column; width: calc(100% / 4 - var(--gap) * 3); padding:0px 3px 7px; overflow: hidden;}
.pop_list04:nth-child(4n){margin-right:0;}
.pop_list04 .templet_img_in3{
    order:inherit;
    min-height: 100px;
    max-height: 130px;
    margin: 0px 0 -10px;
}
.pop_list04 .pop_name{font-size:1.4em;}
.pop_list04 .pop_price{margin-top:auto;}
.pop_list04 .price1{font-size:1.2em; --stroke-width: 1px;}
.pop_list04 .price3{font-size:1.4em; color:#2c53d2;}
.pop_list04 .price2{font-size:2.2em; margin-top:3px;}
.pop_list04 .price1:empty{display: none;}

.icon_add_cart {position:absolute; top:0; left:0; right:0; width:100%; height:100%; cursor:pointer;  color:transparent; background:url(/images/icon_add_cart3.png) no-repeat; background-size:12%; border:none; opacity:0.5; z-index:9;}
.pre_box2 dl .icon_add_cart{background-position:3% 95%;}
.pre_box2 dl:nth-child(even) .icon_add_cart{background-position:97% 95%;}
.pop_list00 .icon_add_cart{background-position:98% 97%; background-size:12%;}
.pop_list01 .icon_add_cart{background-position:99% 50%; background-size:19%;}
.pop_list02 .icon_add_cart{position:absolute; top:0; right:-10%; float:left; width:110%; height:100%; background-position:center right; background-size:7.5%;}
.pop_list03 .icon_add_cart {background-position:98% 85%; background-size:23%;}
.pop_list04 .icon_add_cart {background-position:97% 2%; background-size:30%;}

.soldout:after {
	content:"품 절";
	display:flex;
    justify-content:center;
	align-items:center;
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    font-family:'GmarketSans';
	color:#fff;
	font-size:24px;
	font-weight:400;
	text-shadow:0px 0px 5px #333;
	background:rgba(130, 130, 130, 0.65);
    border:none;
    z-index:9;
}
.pre_box2 dl .soldout:after {font-size:44px; text-shadow:0px 0px 10px #111;}
.pop_list00 .soldout:after {font-size:44px; text-shadow:0px 0px 10px #111;}
.pop_list01 .soldout:after {font-size:38px; border-radius:10px;}
.pop_list02.soldout::after {font-size:26px; border-radius:3px; opacity:0.8;}
.pop_list03 .soldout:after {font-size:28px;}
.pop_list04 .soldout:after {font-size:22px;}


/* 200px 이상일 때 가로 배치 */
@container (min-width: 220px) {
    .wl_r_preview .pop_list01 .wrap_templet_img_in3{
        width: 60%;
        margin: -40px 0 -10px;
    }
}
